.not-found__message {
    grid-column: 5 / 9;
    grid-row: 4 / 6;
    text-align: center;    
}


.not-found__tag-cloud {
    grid-column: 5 / 9;
    grid-row: 6 / 8;
    text-align: center;
}

.not-found__tag-cloud .tags {
    margin:0;
    padding:0;
}