.main {
    height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
}


.hero-text-404 {
    line-height: 1.4;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-shadow: 1px 1px 2px var(--theme-color);
    font-size: 3rem;
    color: var(--theme-color);
}