.sentinel {
    display: none;
}


.sharebutton {
    background-color: rgba(24,24,24,1);
    color: var(--theme-color);
    cursor: pointer;
    border: none;
}


.page-wrapper h1 {
    margin-bottom: 0.7em;
    font-size: 4rem;
    line-height: 1.1;
    color: var(--theme-color);
}

.page-wrapper p:has(img) {
    grid-column: 1 / -1;
}


.page-wrapper h2,
.page-wrapper h3,
.page-wrapper h4 {
    font-size: 1.9rem;
    margin-top: 2.3em;
    color: var(--theme-color)
}


.page-wrapper > p {
    font-size: 1.3rem;
    margin-bottom: 1em;
}


.page-wrapper ul, 
.page-wrapper ol {
    margin-left: 1.2em;
    margin-bottom: 1em;
}


.page-wrapper li {
    margin-bottom: 1em;
}


.page-wrapper > * {
    grid-column: 2;
}


.page-wrapper blockquote {
    border-left: 2px solid var(--theme-color);
    padding-left: 2em;
    margin: 1em 0;
}


.page-wrapper blockquote p{
    font-size: 1.3rem;
}


.page-wrapper img {
    margin: 0 auto;
    aspect-ratio: unset;
}


.page-main__latest-articles h1,
.page-main__read-next-card h1 {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.9rem;
    margin-top: 2.3em;
    color: var(--theme-color);
    line-height: 1.8;
}


.page-header__publication-details {
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}



.page-header__publication-details a {
    font-size: 1.3rem;
    color: #e7e8eb;
}


.page-header__publication-details  i,
.last-moded i{
    color: var(--theme-color);
}


.page-header__publication-details,
.last-moded {
    margin-bottom: 1.5em;
}


.page-main__content {
    line-height: 1.7;
    p {
        font-size: 2.5rem;
    }

    h2,h3, h4 {
        font-size:3rem;
        margin-top: 3em;
        margin-bottom: 1.4em;
    }
    
    ul, ol {
        margin-left: 1.5em;
        margin-bottom: 1em;
    }
}


.article-tags {
    margin-top: 2.3em;
}


.read-next-card h1 a {
    font-size: inherit;
    color: #e7e8eb;
}


.hide {
    opacity: 0;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(24,24,24,1);
    z-index: 5;
    color: var(--theme-color);
    padding: 1em;
    min-height: 55px;
    height: auto;
    border-bottom: 1px solid #000;
    font-size: 1.8rem;
    a{
        text-decoration: none;
    }        
}


.show {
    opacity: 1;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(24,24,24,1);
    z-index: 5;
    color: var(--theme-color);
    padding: 1em;
    min-height: 55px;
    height: auto;
    border-bottom: 1px solid #000;
    font-size: 1.8rem;
    a{
        text-decoration: none;
    }        
}


@media (min-width: $small-screen-end) {
    .sentinel {
        height:5px;
        display: block;
    }

    .list-of-content {
        background-color: #222;
        border-right: 2px solid #393939;
        position: fixed;
        height: 100%;
        overflow-y: auto;
        top: 0;
        left: 100px;
        width: 400px;
    }
}


@media (min-width: $invisible-contentmenu-end) {
    .list-of-content .page-main__latest-articles h1, 
    .list-of-content .page-main__read-next-card h1 {
        margin-top: 1em;
    }

    
    .list-of-content .page-main-list {
        padding: 0;
    }


    .list-of-content .item {
        background: #222;
    }


    .list-of-content .item__body {
        padding: 0.5em 1em
    }

    .list-of-content .visual {
        display: none;
    }
}


@media (min-width: $small-leftmenu-end) {
    .list-of-content {
        left: 220px;
    }
    
    
    .page-header__publication-details a {
        font-size: 1.6rem;
    }

    
    .page-header__publication-details {
        font-size: 1.6rem;
    }

    
    .page-wrapper blockquote p{
        font-size: 1.6rem;
    }

    
    .page-wrapper > p {
        font-size: 1.6rem;
    }  


    .page-wrapper ul,
    .page-wrapper ol {
        font-size: 1.6rem;
    }
    

    .page-wrapper li {
        margin:0;
    }

}