.tag-content-line {
    margin-bottom: 6em;
}

.tag-header {
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 0.5em;
    a{
        text-decoration: none;
        font-size: inherit;
    }    
}