$font-size:$default-font-size;
$font-color:$default-font-color;
$line-height: $default-line-height;

.border-left {
    border-left: 45px solid;

    &.project {
        border-color: map-get($colors, projectblue);
    }

    &.til {
        border-color: map-get($colors, tilmagenta);
    }

    &.about-me {
        border-color: map-get($colors, aboutmegreen);
    }

    &.tag-title {
        border-color: map-get($colors, tagyellow);
    }
}
