<h4 class="footer__title">More on this site:</h4>

<div class="footer__more">
    {{ partial "footer/footer_more.html"}}
</div>

<div class="footer__notes">
    {{ partial "footer/footer_notes.html" . }}    
</div>

{{ $links := .Site.Params.sociallinks }}
{{ with $links }}
    {{ with index . "developer"}}
        {{ template "footer-social-links"  . }}
    {{ end }}
{{ end }}



{{ define "footer-social-links" }}
    <ul class="footer__social-links reset-list render-as-columns">
        {{ range . }}
            <li class="" data-toggle="tooltip" data-placement="top" title="{{ .name }}" aria-label="{{ .name }}">
                <a target="_blank" href="{{ .url }}">
                    <i class="{{ .icon }}"></i>
                </a>
            </li>
        {{ end }}
    </ul>
{{ end }}




