{{ if eq .contentType "projects" }}
    <header class="page-header page-header-background project">
{{ end }}
{{ if eq .contentType "til" }}
    <header class="page-header page-header-background til">
{{ end }}
{{ if eq .contentType "page" }}
    <header class="page-header page-header-background uses">
{{ end }}
{{ if eq .contentType "tags" }}
    <header class="page-header page-header-background tag-title">
{{ end }}
    <div class="page-header-content">
        <div class="page-header__publication-details animate-pop-in">
            <time class="page-header__publication-details__pubdate" datetime="{{ .publishDate.Format "2006.01.02" }}"><i class="fas fa-calendar-day"></i>&nbsp;{{ .publishDate.Format "Jan 2, 2006" }}</time>
            <span><i class="fas fa-file-alt"></i>&nbsp;{{ .numberOfWords }}&nbsp;words</span>
            <span><i class="fas fa-clock"></i>&nbsp;{{ .readingTime1 }}&nbsp;minutes</span>
            <span>{{ with .tags }}<i class="fas fa-tag"></i>&nbsp;{{ range . }}<a href="/tags/{{ . | urlize }}/">{{ . }}</a> {{ end }}{{ end }}</span>
        </div>

        
        <h1 class="page-header__title animate-pop-in">{{.pageTitle}}</h1>
    
        {{ with .pageSubtitle}}
            <h2 class="page-header__subtitle animate-pop-in">{{.pageSubtitle}}</h2>
        {{ end }}
        
        <div class="page-header__meta animate-pop-in">
            {{ with .pageresources }}
                {{ template "page-header__pageresources"  . }}
            {{ end }}            
        </div>

        <div class="page-header__featuretext animate-pop-in">
            {{ .content1 }}
        </div>
            
    </div> <!-- page-header-content -->
    <div class="header-down-arrow">
        <a title="Move to content" 
            class="btn btn-link" 
            href="#main-content">
                <i class="fa fa-chevron-circle-down"></i>
        </a>
    </div>
    
</header>

{{ define "page-header__pageresources" }}
    Resources
    <ul class="page-header__pageresources reset-list">
        {{ range . }}
            <li>
                <a rel="noreferrer" target="_blank" href="{{.}}/">{{ . }}</a>
            </li>
        {{ end }}
    </ul>
{{ end }}
    