<nav class="site-menu-mobile">
    <ul class="reset-list">
        <li class="site-menu-mobile__item">
            <a href="/" title="Smylingsas.net">
                <i class="fas fa-home"></i>
            </a>
            <span>Home</span>
        </li>
        <li class="site-menu-mobile__item">
            <a href="/projects/" title="Smylingsas.net">
                <i class="fas fa-project-diagram"></i>
            </a>
            <span>Projects</span>
        </li>
        <li class="site-menu-mobile__item">
            <a href="/til/" title="Smylingsas.net">
                <i class="fas fa-calendar-week"></i>
            </a>
            <span>TIL</span>
        </li>
        <li class="site-menu-mobile__item">
            <a href="/tags/" title="Smylingsas.net">
                <i class="fas fa-list"></i>
            </a>
            <span>Topics</span>
        </li>
        <!-- <li class="site-menu-mobile__item">
            <a href="/" title="Smylingsas.net">
                <i class="fas fa-arrow-circle-up"></i>
            </a>
            <span>To top</span>
        </li> -->
    </ul>
</nav>