{{ $style := resources.Get "style/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }} 
<link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}">

{{ if eq .Type "projects" }}
<style>
 
    /* width */
    ::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        
        background-color: #F5F5F5;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background-color: brown;
    }
    </style>
{{ end }}
{{ if eq .Type "til" }}
<style>
 
    /* width */
    ::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        
        background-color: #F5F5F5;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background-color: #c44f9d;
    }
    </style>
{{ end }}
{{ if eq .Type "page" }}
<style>
 
    /* width */
    ::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        
        background-color: #F5F5F5;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background-color: #7bb24d;
    }
    </style>
{{ end }}
{{ if eq .Type "tags" }}
<style>
 
    /* width */
    ::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        
        background-color: #F5F5F5;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background-color: #506485;
    }
    </style>
{{ end }}







