
<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <header class="header__site">
            {{ partial "site-header.html" . }}
        </header>
        {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->
        {{ end }}

        <footer class="footer__site">
            {{ partial "footer.html" . }}
        </footer>

        {{ partial "site-menu.html" .}}

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', function() {
                    navigator.serviceWorker.register('js/service-worker.js');
                });
            }
        </script>
        <script>
            function openNav() {
                document.getElementById("myNav").style.width = "100%";
                var body = document.getElementsByTagName("body")[0];
                body.classList.add("hidden-scrollbar");
            }
            
            function closeNav() {
                document.getElementById("myNav").style.width = "0%";
                var body = document.getElementsByTagName("body")[0];
                body.classList.remove("hidden-scrollbar");
            }
        </script>
    </body>
</html>
