
<!DOCTYPE html>
<html lang="en">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <header class="header__site">
            {{ partial "site-header.html" . }}
        </header>
        {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->
        {{ end }}

        {{ partial "site-menu-mobile.html" . }}

        <footer class="footer__site">
            {{ partial "footer.html" . }}
        </footer>

        <script>
            // Register the Service Worker
            if('serviceWorker' in navigator) {
                navigator.serviceWorker.register("{{ $.Site.BaseURL }}service-worker.js")
            }
        </script>
    </body>
</html>
