
<!DOCTYPE html>
<html lang="en">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <!-- <header class="header__site">
            {{ partial "site-header.html" . }}
        </header>  -->
        {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->
        {{ end }}

        <footer class="footer__site">
            {{ partial "footer.html" . }}
        </footer>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script>
            // Register the Service Worker
            if('serviceWorker' in navigator) {
                navigator.serviceWorker.register('service-worker.js')
                .then(reg => console.log('🐳 Service Worker registered', reg))
                .catch(err => console.error('⛈ Service Worker **not** registered', err));
            }
            else {
                console.warn('Service Worker not supported in this browser');
            }
        </script>
    </body>
</html>
