{{ define "main" }}

    <header class="header list__header">
        <h1 class="list__title">{{.Title}}</h1>
    </header>
    
    <main class="main list__main">
        <ul class="list">
            {{ range .Pages }}
                {{ partial "cards/archiveCard.html" . }}
            {{ end }}
        </ul>

        <div class="list__pagination">
            {{ template "_internal/pagination.html" . }}
        </div>
        <!--<ul class="list__tag-cloud">
            <li>CSS</li>
        </ul> -->
    </main>
{{ end }}
