{{ define "main" }}

    <header class="header list__header">
        <h1 class="list__title">{{.Title}}</h1>
        <div class="list__publication-details">
            Published by <span class="author">Ole Halvor Smylingsås</span>
            <span class="publication hidden"><cite>?</cite></span>      
            <time class="list__pubdate" datetime="{{ .Date.Format "2006.01.02" }}">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
        </div>
    </header>
    
    <main class="main list__main">
        <ul class="list">
            {{ range .Pages }}
                {{ partial "cards/defaultCard.html" . }}
            {{ end }}
        </ul>

        <div class="list__pagination">
            {{ template "_internal/pagination.html" . }}
        </div>
        <!--<ul class="list__tag-cloud">
            <li>CSS</li>
        </ul> -->
    </main>
{{ end }}
