{{ define "main" }}
    <header class="header article__header">
        <h1 class="article__title">{{.Title}}</h1>
        <!--<h2 class="article__subtitle hidden">sub title</h2>-->
        <div class="article__publication-details">
            Published by <span class="author">Ole Halvor Smylingsås</span>
            <span class="publication hidden"><cite>?</cite></span>      
            <time class="article__pubdate" datetime="{{ .Date.Format "2006.01.02" }}">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
        </div>
    </header>  

    <main class="main article__main">
        <article class="article__blog-post">

            <section class="article__content">
                {{.Content}}
            </section>
            

            <div class="article__tags">
                {{ with .Params.tags }}
                    <ul class="article-tags1">
                        {{ range . }}
                            <li>
                                <a href="{{ "tags" | absURL }}/{{ . | urlize }}/">{{ . }}</a>
                            </li>
                        {{ end }}
                    </ul>
                {{ end }}
            </div>

            <section class="latest-articles homepage__cardlist">
                {{ $pages := where $.Site.RegularPages "Type" "in" "til" }}
                <h3 class="latest-articles__title">Latest posts in TIL</h3>
                    <ul class="l-articles">
                        {{ range first 5 $pages }}
                            {{ partial "cards/frontpageArticleCard.html" . }}
                        {{ end }}
                    </ul>
    
            </section>

            {{ with .Params.categories }}
                <ul class="article-categories ">
                    {{ range . }}
                        <li>
                            <a href="{{ "categories" | absURL }}/{{ . | urlize }}/">{{ . }}</a>
                        </li>
                    {{ end }}
                </ul>
            {{ end }}

            
        
            {{ if .Params.comments }}
                <div class="article__comments" id="comments">
                    {{- partial "comments.html" . -}}
                </div>
            {{ end }}
        </article>
    </main>
{{ end }}

