{{ define "main" }}
    {{ partial "page-header.html" . }}  

    <main class="main article__main">
        <article class="article__blog-post">

            <section class="article__content">
                {{.Content}}
            </section>
                    
        
            {{ if .Params.comments }}
                <div class="article__comments" id="comments">
                    {{- partial "comments.html" . -}}
                </div>
            {{ end }}
        </article>
    </main>
{{ end }}

