/* Colors */
$black: #20252d;
$white: #fff;
$offwhite: #f4f1d0;
$magenta: #EA7E38;
$orange: #EA7E38;
$green: #EA7E38;

$default-background-color: $black;
$default-font-size: 1em;
$default-line-height: 1.4;
$default-font-color: $offwhite;
$font-family: 'BauerBodoniW01-BoldDisp', georgia, serif;
