/* Colors */
$black: #20252d;
$white: #fff;

$default-background-color: $black;
$default-font-size: 1em;
$default-line-height: 1.4;
$default-font-color: $white;
$font-family: 'BauerBodoniW01-BoldDisp', georgia, serif;
