/* Colors */
$colors: (
    og-white: #fff,
    offwhite: #f4f1d0,
    orange1: #EA7E38,
    black: #000,
    dark-sea-blue: #20252d,
    blackcurrent: #80495E,
    shadeofcyan: #42928c,
    verylightgray: #2f3337,
    black-800: #e7e8eb,
    gamer-green: #00e472,
    blackedblue: #181818,
    blackpearl: #1c1f23,
    theme-red: #ec1839,
    theme-orange: #fa5b0f,
    theme-green: #37b182,
    theme-blue: #1854b4,
    theme-pink: #f021b2
);