.reset-list {
    margin:0;
    padding:0;
    list-style: none;
}


.highlight {
	font-size: 1.3rem;
	width: 100%;
  	grid-column: 1 / -1 !important;
}


.highlight pre {
	overflow: auto;
}


.highlight code {
	margin: 0 auto;
    width: 79ch;
    display: block;
	@media screen and (min-width: 1400px) {
		width: $default-article-with;
	}
	
}


.button {
    display: inline-block;
    padding: 0.8em 0.9em;
    border: 2px solid var(--button-border);
    background-color: var(--button-background); //transparent;
    font-family: Oswald, sans-serif;
    color: var(--button-text);
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;

    &:hover {
        color: var(--background);
    }
}