.reset-list {
    margin:0;
    padding:0;
    list-style: none;
}


.text-orange {
	color: $default-theme-color;
}
  
  
@mixin render-as-columns($number-of-columns) {
	column-count: $number-of-columns;
}


.invisible-on-phone {
	display: none;

	@media screen and (min-width: 750px) {
		display: block;
	}
}


.background-orange {
	background-color: $default-theme-color;
}

.highlight {
	font-size: 2rem;
}

.highlight pre {
	padding: 2rem;
}