.reset-list {
    margin:0;
    padding:0;
    list-style: none;
}


.highlight {
	font-size: 1.3rem;
	margin: 2em 0;
    overflow-x: auto;
}



.highlight code {
	padding: 1em;
    max-width: 103ch;
    display: block;
    @media screen and (min-width: 875px) {
        margin: 0 auto;
    }
	@media screen and (min-width: 1400px) {
		width: $default-article-with;
	}
	
}


.button {
    display: inline-block;
    padding: 0.8em 0.9em;
    border: 2px solid var(--button-border);
    background-color: var(--button-background); //transparent;
    color: var(--button-text);
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;

    &:hover {
        color: var(--background);
    }
}