:root {
    --theme-color: #d9376e; 
    --background: #eff0f3;
    --button-background: var(--theme-color);
    --button-border:var(--theme-color);
    --headline: #0d0d0d;
    --button-text: #0d0d0d;
    --paragraph: #2a2a2a;
    --sub-headline: #2a2a2a;
    --card-background: var(--background);
    --card-heading: #0d0d0d;
    --card-paragraph: #2a2a2a;
    --column-border: #0d0d0d;
    --tag-stroke: #fffffe;
    --tag-color: #fffffe;
    --link-color: var(--theme-color);
    --site-border-color: var(--theme-color);
    --blockqoute-bg: #fffffe;
}