:root {
    /* --theme-color: #f77240; */
    --theme-color: #ff8906; 

    --background: #0f0e17;
    --button-background: var(--theme-color);
    --button-border:var(--theme-color);
    --headline: #fffffe;
    --button-text: #fffffe;
    --paragraph: #a7a9be;
    --sub-headline: #2e2f3e;
    --card-background: #fffffe;
    --card-heading: #0f0e17;
    --card-paragraph: #2e2f3e;
    --column-border: #393939;
    --tag-stroke: #181818;
    --tag-color: #181818;
    --link-color: var(--theme-color);
    --site-border-color: var(--theme-color)
       
    
}