<section class="section aboutme-section" id="aboutme-section">
    <div class="container1111">
        <div class="profile-img">
            <img src="img/kiss-paul-stanley-roses.jpg" alt="profile-img" />
        </div>
        <div class="about-details">
            <div class="about-heading">
                <h1>About</h1>
                <h6>Me</h6>
            </div>
            <p>
                TBA
            </p>
            <div class="social-media">
                <ul class="reset-list">
                    <li>
                        <a href="#" class="icon-link">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icon-link">
                            <i class="fa fa-github"></i> 
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icon-link">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</section>
