<section class="section call-to-action" id="call-to-action-section">
    <div class="cell0">
            <div class="container-content-meh">
                <a href="/projects/" title="Smylingsas.net">
                    <div class="call-to-action-item flex-it">
                    <i class="fas fa-project-diagram"></i>
                    <span>Projects</span>
                </div>
                </a>
            </div>
    </div>

    <div class="cell1">
        <div class="container-content-meh">
            <a href="/til/" title="Smylingsas.net">
                <div class="call-to-action-item flex-it">
                <i class="fas fa-calendar-week"></i>
                <span>TIL</span>
                </div>
            </a>
        </div>
    </div>

    <div class="cell2">
        <div class="container-content-meh">
            <a href="/tags/" title="Smylingsas.net">
                <div class="call-to-action-item flex-it">
                <i class="fas fa-list"></i>
                <span>Topics</span>
                </div>
            </a>   
        </div>
    </div>
</section>