<section class="experience">
    <div class="container">
        <div class="section-heading">
            <h1>Work experience</h1>
            <!-- <h6>Past and current jobs</h6> -->
        </div>
        <div class="timeline">
            <ul class="reset-list">
            <li class="date" data-date="2017-present">
                <h1>Kongsberg IT</h1>
                <p>Utvikler</p>
            </li>
            <li class="date" data-date="2015-2017">
                <h1>Kongsberg</h1>
                <p>Utvikler</p>
            </li>
            <li class="date" data-date="2010-2014">
                <h1>Itum</h1>
                <p>Utvikler</p>
            </li>
            <li class="date" data-date="2009">
                <h1>Kongsberg</h1>
                <p>Utvikler</p>
            </li>
        </ul>
        </div>
    </div>
</section>