<section class="about-me" id="aboutme-section">
    <div class="container1">
        <div class="container-content">
            <p>I work with Angular JS, React, Node JS, Webpack, .Net Framework and MS SQL.
                <!-- <br/><br/> This is mainly just my personal techno blog, I will try to update it from time to time with stuff I learn og figures out. If your're interrested check out my GitHub page or the project area here. -->
            </p>
            <a href="/uses/" class="xlink link-button">Uses</a>
        </div>
        
    </div>

    <div class="container3">
        <div class="container-content-meh">
            <a href="#call-to-action-section" 
                class="button hero-button">Let’s start</a>
        </div>
        
    </div>
    
</section>