<section class="about-me" id="aboutme-section">
    <div class="container1">
        <div class="container-content">
            <p>I work with Angular JS, React, Node JS, Webpack, .Net Framework and MS SQL.
                <!-- <br/><br/> This is mainly just my personal techno blog, I will try to update it from time to time with stuff I learn og figures out. If your're interrested check out my GitHub page or the project area here. -->
            </p>
            <nav class="intro-nav">
                <ul class="reset-list">
                    <li><a href="#" class="xlink link-button">About</a></li>
                    <li><a href="#" class="xlink link-button">Experience</a></li>
                    <li><a href="#" class="xlink link-button">Skills</a></li>
                    <li><a href="#" class="xlink link-button">Uses</a></li>
                </ul>
            </nav>
        </div>     
    </div>

    <div class="container3">
        <div class="container-content-meh">
            <a href="#call-to-action-section" 
                class="button hero-button">Let’s start</a>
        </div> 
    </div>
    
</section>