<!DOCTYPE html>
<html lang="no-nb">
    <head>
        {{ partial "head.html" . }}
        <style>
            .page-wrapper {
                display: grid;
                grid-template-columns: 
                    1fr 
                    min(65ch, calc(100% - 30px)) 
                    1fr;
                grid-column-gap: 15px;
                font-size:  1.6rem;
                line-height: 1.8;
                margin-bottom: 5em;
            }

            
        </style>
    </head>
    <body>
        <header class="header--site">
            {{ partial "left-menu.html" . }}
        </header>
        <section class="content">
            {{ block "main" . }}
                <!-- The part of the page that begins to differ between templates -->
            {{ end }}
        </section>
        <footer>
            {{ partial "footer.html" . }}
        </footer>
        {{ partial "site-menu-mobile.html" . }}
       
    
        <script>
            // Register the Service Worker
            if('serviceWorker' in navigator) {
                navigator.serviceWorker.register("{{ $.Site.BaseURL }}service-worker.js")
            }
        </script>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/b4c5540066.js" crossorigin="anonymous"></script>
        
    </body>
</html>
