<!DOCTYPE html>
<html lang="no-nb">
    <head>
        {{ partial "head.html" . }}
        <style>
            .page-wrapper {
                display: grid;
                grid-template-columns: 
                    1fr 
                    min(65ch, calc(100% - 30px)) 
                    1fr;
                grid-column-gap: 15px;
                font-size:  2rem;
                line-height: 1.8;
                margin-bottom: 5em;
            }
        </style>
    </head>
    <body>
        {{ partial "site-header-mobile.html" . }}
        <header class="header--site">
            {{ partial "left-menu.html" . }}
        </header>       
        <section class="content">
            {{ block "main" . }}
                <!-- The part of the page that begins to differ between templates -->
            {{ end }}
        </section>
        {{ partial "site-menu-mobile.html" . }}
        {{/*  {{ partial "theme-switcher.html" }}  */}}
       
    
        <script>
            // Register the Service Worker
            if('serviceWorker' in navigator) {
                navigator.serviceWorker.register("{{ $.Site.BaseURL }}service-worker.js")
            }
        </script>


        <script>
            function share(title, text, url) {
                const shareData = {
                    title,
                    text,
                    url
                }

                try {
                    navigator.share(shareData);
                } catch (err) {
                }
            }
            
        </script>

        <script>
            const sentinel = document.getElementById("sentinel");
            const header = document.getElementById("fixed-header");

            if(sentinel && header)
            {
                const options = {
                    rootMargin: '0px',
                    threshold: 0
                }
                
                const callback = (entries, observer) => {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) 
                        {
                            header.classList.remove('show');
                            header.classList.add('hide');
                        } else {
                            header.classList.remove('hide');
                            header.classList.add('show');
                        }
                    });
                }
    
                observer = new IntersectionObserver(callback, options);
                observer.observe(sentinel);
            }

            
        </script>
        <script src="https://kit.fontawesome.com/b4c5540066.js" crossorigin="anonymous"></script>
        
    </body>
</html>
