<!DOCTYPE html>
<html lang="en">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        {{ partial "left-menu.html" . }}

        {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->
        {{ end }}

        {{ partial "site-menu-mobile.html" . }}

        {{ partial "homepage/topics.html" . }}

        <button class="scrollToTopBtn">☝️</button>

        <footer class="footer__site">
            {{ partial "footer.html" . }}
        </footer>

        <script>
            // Register the Service Worker
            if('serviceWorker' in navigator) {
                navigator.serviceWorker.register("{{ $.Site.BaseURL }}service-worker.js")
            }


            if (navigator.share) {
                navigator.share({
                  title: 'Smylingsas.net',
                  text: 'Check out Ole Halvors homepage',
                  url: 'https://smylingsas.net/',
                })
                  .then(() => console.log('Successful share'))
                  .catch((error) => console.log('Error sharing', error));
              }

            function openSiteMenu() {
                var body = document.body;
                body.classList.add("animated-slide-to-the-right");

                var siteMenu = document.getElementById("vertical-panel-id");
                siteMenu.classList.add("animated-slide-in-from-left");
            }

            var target = document.querySelector("#topics-section");

            var scrollToTopBtn = document.querySelector(".scrollToTopBtn")
            var rootElement = document.documentElement

            function callback(entries, observer) {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        // Show button
                        scrollToTopBtn.classList.add("showBtn")
                    } else {
                        // Hide button
                        scrollToTopBtn.classList.remove("showBtn")
                    }
                });
            }

            function scrollToTop() {
                rootElement.scrollTo({
                    top: 0,
                    behavior: "smooth"
                })
            }
            scrollToTopBtn.addEventListener("click", scrollToTop);
                
            let observer = new IntersectionObserver(callback);
            observer.observe(target);
        </script>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/b4c5540066.js" crossorigin="anonymous"></script>
    </body>
</html>
