{{ define "main" }}
    
<div class="list-grid">
    <div class="grid-header">
        <div class="list-page-header">
            <h1 id="list-title">{{.Params.title}}</h1>            
            {{ if eq .Type "writings" }}
                <p>Totalt antall poster i blog:
                    {{ len (where .Site.RegularPages "Section" "==" "writings") }}.
                </p>
            {{ end }}
            {{ if eq .Type "projects" }}
                <p>Totalt antall poster i prosjekter:
                    {{ len (where .Site.RegularPages "Section" "==" "projects") }}.
                </p>
            {{ end }}
            {{ if eq .Type "bookmarks" }}
                <p>Totalt antall poster i bokmerker:
                    {{ len (where .Site.RegularPages "Section" "==" "bookmarks") }}.
                </p>
            {{ end }}
            {{.Content}} 
            {{ partial "topics.html" . }}
        </div>
    </div>    

    <div class="grid-main">
        <main class="page-main" id="main-content">    
            <section class="page-main-list">
                <ul class="reset-list">
                    {{ range .Pages }}
                        {{ .Render "summary"}}
                    {{ end }}
                </ul>    
            </section>       
        </main>
    </div>
</div>
{{/*  <footer>
    {{ partial "footer/footer.html" . }}
</footer>  */}}
{{ end }}
