{{ define "main" }}

    
    <div class="page-wrapper">
        <span><a class="shareMeBtn" title="Del denne artikkelen"><i class="fas fa-share-square"></i></a></span>
        <h1>{{.Params.title}}</h1>
        <div class="page-header__publication-details">
            <time class="page-header__publication-details__pubdate" datetime="{{ .Date.Format "Mon, Jan 2, 2006" }}"><i class="fas fa-calendar-day"></i>&nbsp;{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
            <span><i class="fas fa-file-alt"></i>&nbsp;{{ .WordCount }}&nbsp;ord</span>
            <span><i class="fas fa-clock"></i>&nbsp;{{ .ReadingTime }}&nbsp;minutter</span>
            
            {{/*  <span><i class="fas fa-receipt"></i></span>  */}}
            
        </div>
   
            {{.Content}}
 
        
        
        {{/*  <main class="page-main1" id="main-content">
            <article class="page-main__content">
                
            </article>
    
            
        </main>  */}}
        <div>{{ with .Params.tags }}<i class="fas fa-tag"></i>&nbsp;{{ range . }}<a href="/tags/{{ . | urlize }}/">{{ . }}</a> {{ end }}{{ end }}</div>
        
        <div class="page-header__meta">
            {{ with .Params.pageresources }}
                {{ template "page-header__pageresources"  . }}
            {{ end }}            
        </div>
    </div>

        {{ if eq .Type "projects" }}
            <section class="page-main__latest-articles">
                {{ $pages := where $.Site.RegularPages "Type" "in" "projects" }}
                <h1>Nyeste prosjektposter</h1>
                <div class="page-main-list">
                    <ul class="reset-list">
                        {{ range first 4 $pages }}
                            {{ .Render "summary"}}
                        {{ end }}
                    </ul>    
                </div>
            </section>
        {{ end }}

        {{ if eq .Type "writings" }}
            <section class="page-main__latest-articles">
                {{ $pages := where $.Site.RegularPages "Type" "in" "writings" }}
                <h1>Nyeste poster</h1>
                <div class="page-main-list">
                    <ul class="reset-list">
                        {{ range first 4 $pages }}
                            {{ .Render "summary"}}
                        {{ end }}
                    </ul>
                </div>
            </section>
        {{ end }}

        
        {{ if eq .Type "writings" }}
            {{- partial "read-next-writings.html" . -}}
        {{ end }}

        {{ if eq .Type "projects" }}
            {{- partial "read-next-projects.html" . -}}
        {{ end }}

    

    <script>
        document.onkeydown = function(e) {
          switch (e.keyCode) {
            case 37:
              //left key
              document.querySelector(".page-main__previous-link").click();
              break;
            case 39:
              //right key
              document.querySelector(".page-main__next-link").click();
              break;
          }
        };
      </script>
{{ end }}

