{{ define "main" }}

    <div class="single">
        <section class="article-aside">
            {{ partial "contentlist.html" . }}
        </section>
        <section class="article-section">
            <div class="fixed-header">
                {{ if eq .Kind "home"}}
                    <img src="img/logo.png"
                        alt="Big S on orange background" />
                {{ else if ne .Kind "section" "taxonomy" "home" }}
                    <div class="">
                        <a title="Tilbake til {{.Type}}" href="/{{.Type}}">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        </a>
                    </div>
                    
                    {{$pageTitle := .Title}}
                    {{$body := "Sjekk ut denne artikkelen"}}
                    {{$pageUrl := "/"}}
                    {{ $pageTitle}}
                    <button class="sharebutton" type="button" title="Del artikkel" onclick="share( {{ $pageTitle}}, {{$body }}, {{$pageUrl}} )"><i class="fa fa-share-square-o" aria-hidden="true"></i></button>
                {{ else if ne .Kind "home" }}
                    {{.Title}}
                {{ end}}
            </div>
            <div class="page-wrapper">
                <h1>{{.Params.title}}</h1>
                <div class="page-header__publication-details">
                    <time class="page-header__publication-details__pubdate" datetime="{{ .Date.Format "Mon, Jan 2, 2006" }}"><i class="fas fa-calendar-day"></i>&nbsp;{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
                    <span><i class="fas fa-file-alt"></i>&nbsp;{{ .WordCount }}&nbsp;ord</span>
                    <span><i class="fas fa-clock"></i>&nbsp;{{ .ReadingTime }}&nbsp;minutter</span>
                </div>
                <div class="last-moded">
                    <time class="page-header__publication-details__pubdate" datetime="{{ .Lastmod.Format "Mon, Jan 2, 2006" }}"><i class="fas fa-calendar-day"></i>&nbsp;Sist oppdatert:&nbsp;{{ .Lastmod.Format "Mon, Jan 2, 2006" }}</time>
                </div>
           
                {{.Content}}
         
                
                
                {{/*  <main class="page-main1" id="main-content">
                    <article class="page-main__content">
                        
                    </article>
            
                    
                </main>  */}}
                <div class="article-tags">
                    {{ with .Params.tags }}
                        <i class="fas fa-tag"></i>&nbsp;
                        {{ range . }}
                            <a href="/tags/{{ . | urlize }}/">{{ . }}</a> 
                        {{ end }}
                    {{ end }}
                </div>
                
                <div class="article-resources">
                    {{ with .Params.pageresources }}
                        {{ template "page-header__pageresources"  . }}
                    {{ end }}            
                </div>
                
            </div>
            <footer>
                {{ partial "footer/footer.html" . }}
            </footer>  
        </section>         
    </div>
{{ end }}


{{ define "page-header__pageresources" }}
    <h2>Referanser:</h2>
    <ul class="page-header__pageresources">
        {{ range . }}
            <li>
                <a rel="noreferrer" target="_blank" href="{{.}}/">{{ . }}</a>
            </li>
        {{ end }}
    </ul>
{{ end }}
