<li>
    <a class="item__link" href='{{ .Permalink }}'>
        <article class="item">
            <div class="visual">
                
                {{ if (eq (.Resources.ByType "image"|len ) 0) }}
                
                    <img loading="lazy" width="415" height="230" src="{{.Params.preview}}" alt="{{ .Title }}"/>
                {{ end }}
                {{ with .Resources.GetMatch "mainimage" }}
                    <img src="data:{{ .MediaType.Type }};base64,{{ .Content | base64Encode }}">
                {{ end }}
                
            </div>
            <div class="item__body">
                <h2 class="item__title">
                    {{ .Title }}
                </h2>
                <time class="page-header__publication-details__pubdate" datetime="{{ .Date.Format "Mon, Jan 2, 2006" }}"><i class="fas fa-calendar-day"></i>&nbsp;{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
            </div>
        </article>
    </a>
</li>
