{{ define "main" }}

{{ partial "page-header.html" (dict "contentType" .Type "pageTitle" .Title "author" .Site.Params.owner "desc" .Params.description "tags" .Params.tags "pageresources" .Params.pageresources "publishDate" .Date "content1" "" "numberOfWords" .WordCount "readingTime1" .ReadingTime "typeOfPage" .Kind) }}

    <main class="page-main" id="main-content">
        <article class="page-main-content">
            <ul class="reset-list page-main-list">
                {{ range .Data.Terms.Alphabetical }}
                    <li>
                        <a href="{{ .Page.Permalink }}">
                            {{ .Page.Title }} <span>({{ .Count }} innlegg)</span>
                        </a>
                    </li>
                {{ end }}
            </ul>
        </article>
    </main>

{{ end }}