{{ define "main" }}

<main>
    <div class="list-page-header">
        <h1 id="list-title">{{.Title}}</h1>
    </div>   
    
    <ul class="reset-list page-main-list">
        {{ range $key, $value := .Data.Terms.Alphabetical }}
            <li class="tag-content-line">
                <h2 class="tag-header">{{.Page.Title }} <a title="Bla gjennom" href="{{.Page.Permalink}}">></a></h2>
                <ul class="reset-list">
                    {{ range $value.Pages }}
                        {{ .Render "summary"}}
                    {{ end }}
                </ul>
            </li>            
        {{ end }}
    </ul>
</main>
<footer>
    {{ partial "footer/footer.html" . }}
</footer>

{{ end }}