header.header__page {
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 3em 1em;
    padding: 2rem 0;
    text-shadow: 0px 1px 6px rgba(0,0,0,0.6);
    height: 500px; // This was added to make the header taller 
                   // in browsers that don't support viewport units
    height: 100vh; // This overrides the height: 500px completely, 
                  // replacing it in browsers that do understand
}


h1.homepage__title, 
h1.article__title,
h1.list__title, 
.article__subtitle {
  line-height: 1.1em;
  font-size: 2rem;
  grid-row: 2/8;
  grid-column: 2 / 8;
  // padding: 2em 0; // This was added to push the headline down in 
                  // browsers that don't understand flexbox. Otherwise it has no affect. 
  @media (min-width: 500px) {
    font-size: 8rem;
  }
}


.article__publication-details,
.list__publication-details {
  line-height: 1.1em;
  font-size: 1.7rem;
  grid-row: 4;
  grid-column: 2 / 9;
  padding: 2em 0; // This was added to push the headline down in 
                  // browsers that don't understand flexbox. Otherwise it has no affect. 
  // @media (min-width: 500px) {
  //   font-size: 4rem;
  // }
}


.homepage__cardlist {
  grid-column: 3/12;
}


.l-articles {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-gap: 3em 5em;
}


.homepage__tag-cloud {
  grid-column: 9 / -1;
  grid-row: 5/6;
}



  

  

