// Header --------------------------------------------------

header.homepage__header {
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 3em 1em;
    padding: 2rem 0;
    text-shadow: 0px 1px 6px rgba(0,0,0,0.6);
    height: 500px; // This was added to make the header taller 
                   // in browsers that don't support viewport units
    height: 100vh; // This overrides the height: 500px completely, 
                  // replacing it in browsers that do understand
  }

  h1.homepage__title {
    font-family: $font-family;  
    margin: 0 auto;
    line-height: 1.1em;
    font-size: 2rem;
    grid-row: 2;
    grid-column: 2 / 9;
    padding: 2em 0; // This was added to push the headline down in 
                    // browsers that don't understand flexbox. Otherwise it has no affect. 
    @media (min-width: 500px) {
      font-size: 4rem;
    }
  }

  main.homepage__main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 3em 1em;
  }

  aside.homepage__aside {
    grid-row: 2;
    grid-column: 2/4;
  }

  .all-articles {
    grid-row: 2;
    grid-column: 4/11;
  }

  

  

