.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $default-background-color;
    overflow-x: hidden;
    transition: 0.5s;
}
   

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: $default-font-color;
    display: block;
    transition: 0.3s;
}


.overlay a:hover, .overlay a:focus {
    color: map-get($colors, overlay-color);
}


.site-nav {
    grid-column: 3 / 7;
}


.site-menu__tag-cloud {
    grid-column: 7 / -1;
}