.render-as-columns {
    -webkit-columns: 3;
    -moz-columns: 3;
    column-count: 3;
}


.placement {
    grid-column: 2/-2;
}


.tag {
    display: inline;
    border: 1px solid map-get($colors, offwhite);
    color: map-get($colors, offwhite);
    padding: 4px;
}


.tag:hover {
    border: 0;
    background-color: map-get($colors, offwhite);
    color: map-get($colors, black);
    padding: 5px;
}
