{{ define "main" }}

    {{ partial "page-header.html" (dict "contentType" .Type "pageTitle" .Params.title "author" .Params.author "desc" .Params.description "tags" .Params.tags "pageresources" .Params.pageresources "publishDate" .Date ) }}
    
    <main class="main list__main" id="main-content">
        {{ .Content }}  
             
        <section class="homepage__cardlist">
            <ul class="l-articles">
                {{ range .Pages }}
                    {{ partial "cards/frontpageArticleCard.html" . }}
                {{ end }}
            </ul>
        </section>
    </main>
{{ end }}
