.header--site {
    grid-area: navbar;
    background-color: #00e472;
}


section .content {
    grid-area: content;
}


.topics2 {
    grid-area: topics;
}


footer {
    grid-area: footer;
}


body {
    display: grid;
    grid-template-areas:
        "content"
        "topics"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 20vh;  
}


.site-menu-mobile {
    display: block;
}


.site-menu-open-link,
.header--site {
    display: none;
}


@media (min-width: 810px) {    
    body {
        display: grid;
        grid-template-areas:
            "navbar content"
            "navbar topics"
            "navbar footer";
        grid-template-columns: 100px 1fr;
        grid-template-rows: auto auto 20vh;  
    }

    
    .site-menu-mobile {
        display: none;
    }


    .header--site,
    .site-menu-open-link {
        display: block;
    }
}


@media (min-width: 1600px) {
    body {
        display: grid;  
        grid-template-areas:
        "navbar content"
        "navbar topics"
        "navbar footer";
        grid-template-columns: 350px 1fr;
        grid-template-rows: auto auto 20vh;  
    }


    .navigation-icons {
        display: flex;
        flex-direction: column;
        position: fixed;
    }
}