.header--site {
    grid-area: navbar;
}


section.content {
    grid-area: content;
}


footer {
    grid-area: footer;
}


body {
    display: grid;
    grid-template-areas:
        "content"
        ;
    grid-template-columns: 1fr;
    grid-template-rows: auto;  
}


.site-menu-mobile,
.header--topics-nav {
    display: block;
}


.header--site {
    display: none;
}


@media (min-width: $small-screen-end) {    
    body {
        display: grid;
        grid-template-areas:
            "navbar content"
            ;
        grid-template-columns: 100px 1fr;
        grid-template-rows: auto;  
    }


    .header--site-mobile,
    .header--topics-nav,
    .site-menu-mobile {
        display: none;
    }


    .header--site,
    .site-menu-open-link {
        display: block;
    }
}


@media (min-width: $small-leftmenu-end) {
    body {
        display: grid;  
        grid-template-areas:
        "navbar content"
        ;
        grid-template-columns: 220px 1fr;
        grid-template-rows: auto ;  
    }
}