.header--site {
    grid-area: navbar;
}


section.content {
    grid-area: content;
}


footer {
    grid-area: footer;
}


body {
    display: grid;
    grid-template-areas:
        "content"
        "footer"
        ;
    grid-template-columns: 1fr;
    grid-template-rows: auto;  
}


.site-menu-mobile {
    display: block;
}


.header--site {
    display: none;
}


@media (min-width: 810px) {    
    body {
        display: grid;
        grid-template-areas:
            "navbar content"
            "navbar footer";
        grid-template-columns: 100px 1fr;
        grid-template-rows: auto 20vh;  
    }

    
    .site-menu-mobile {
        display: none;
    }


    .header--site,
    .site-menu-open-link {
        display: block;
    }
}


@media (min-width: 1300px) {
    body {
        display: grid;  
        grid-template-areas:
        "navbar content"
        "navbar footer";
        grid-template-columns: 220px 1fr;
        grid-template-rows: auto 20vh;  
    }
}