.jumbotron 
{
    grid-area: jumbotron;    
}


.about-me--introtext 
{
    grid-area: aboutmetext
}


.about-me--startbutton 
{
    grid-area: startbutton
}


.homepage-aboutme-section 
{
    grid-area: homepage-aboutme-section;
}


.homepage-experience 
{
    grid-area: homepage-experience;
}


.homepage-post-section 
{
    grid-area: homepage-post-section;
}


.homepage-projects-section 
{
    grid-area: homepage-projects-section;
}


.call-to-action-container1
{
    grid-area: calltoaction1
}


.call-to-action-container2
{
    grid-area: calltoaction2
}


.call-to-action-container3
{
    grid-area: calltoaction3
}


.about-me--introtext, 
.about-me--startbutton 
{
    display: none;
} 


.homepage {
    display: grid;
    grid-template-areas:
        "jumbotron jumbotron jumbotron"
        "calltoaction1 calltoaction2 calltoaction3"
        "homepage-aboutme-section homepage-aboutme-section homepage-aboutme-section"
        "homepage-experience homepage-experience homepage-experience"
        "homepage-post-section homepage-post-section homepage-post-section"
        "homepage-projects-section homepage-projects-section homepage-projects-section";
    grid-template-columns: 1fr 1fr 1r;
    grid-template-rows: 95vh 20vh auto auto auto auto; 
}


@media (min-width: 1000px) {
    .homepage {
        display: grid;
        grid-template-areas:
            "jumbotron jumbotron jumbotron"
            "aboutmetext aboutmetext startbutton"
            "calltoaction1 calltoaction2 calltoaction3"
            "homepage-aboutme-section homepage-aboutme-section homepage-aboutme-section"
            "homepage-experience homepage-experience homepage-experience"
            "homepage-post-section homepage-post-section homepage-post-section"
            "homepage-projects-section homepage-projects-section homepage-projects-section";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 80vh 20vh 20vh auto auto auto auto; 
    }


    .about-me--introtext, 
    .about-me--startbutton 
    {
        display: block;
    } 
}