.jumbotron 
{
    grid-area: jumbotron;    
}


.homepage-experience 
{
    grid-area: homepage-experience;
}


.homepage-projects-section 
{
    grid-area: homepage-projects-section;
}


.homepage {
    display: grid;
    grid-template-areas:
        "jumbotron"
        "homepage-experience"
        "homepage-projects-section"        
        ;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto ; 
}


@media (min-width: 1000px) {
    .homepage {
        display: grid;
        grid-template-areas:
            "jumbotron"
            "homepage-experience"
            "homepage-projects-section"
            ;
        grid-template-columns: 1fr;
        grid-template-rows: 100vh auto auto; 
    }
}