.grid-header {
    grid-area: gridheader;
}


.grid-main {
    grid-area: gridmain;
}


.list-grid {
    min-height: 80vh; 
}


@media (min-width: $invisible-contentmenu-end) {
    .list-grid {
        display: grid;
        grid-template-areas:
            "gridheader" 
            "gridmain"
            "footer"        
            ;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
    }
}