.article-aside {
    grid-area: articleaside;
    display: none;
}


.article-section {
    grid-area: articlesection;
}


.single {
    display: grid;
    grid-template-areas:
        "articlesection"    
        ;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    min-height: 80vh; 
}


@media (min-width: $invisible-contentmenu-end) {
    .article-aside {
        display: block;
    }

    
    .single {
        display: grid;
        grid-template-areas:
            "articleaside articlesection"        
            ;
        grid-template-columns: 400px 1fr;
        grid-template-rows: auto;  
    }
}


