.list-of-content {
    grid-area: listofcontent;
}


.article-section {
    grid-area: articlesection;
}


.single {
    display: grid;
    grid-template-areas:
        "articlesection"
        "listofcontent"
        "footer"        
        ;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    min-height: 80vh; 
}


@media (min-width: 1400px) {
    .single {
        display: grid;
        grid-template-areas:
            "listofcontent articlesection"
            "listofcontent footer"        
            ;
        grid-template-columns: 400px 1fr;
        grid-template-rows: auto;  
    }
}


