/* Colors */
$colors: (
    white: #fff,
    offwhite: #f4f1d0,
    orange1: #EA7E38,
    aboutmegreen: #7bb24d,
    tilmagenta: #c44f9d,
    black: #000,
    projectbrown: brown,
    dark-sea-blue: #20252d,
    blackcurrent: #80495E,
    overlay-color: #f1f1f1,
    tagblue: #506485,
    shadeofcyan: #42928c
);