.reset-list {
    margin:0;
    padding:0;
    list-style: none;
  }
  
  
  .full-viewport-height {
    height: 100vh;
  }
  
  
  .render-as-columns {
    -webkit-columns: 3;
    -moz-columns: 3;
    column-count: 3;
  }