.reset-list {
    margin:0;
    padding:0;
    list-style: none;
}
  
  
.full-viewport-height {
	height: 100vh;
}
  
  
.render-as-columns {
	-webkit-columns: 3;
	-moz-columns: 3;
	column-count: 3;
}


.pill {
	display: inline;
	border: 2px solid map-get($colors, offwhite);
	background-color: map-get($colors, offwhite);
	padding: 4px;
	color: map-get($colors, black);
}

.pill a {
	color: map-get($colors, black);
}


.page-header-background {
	//border-left: $title-border-width solid;

	&.project {
		background-color: map-get($colors, projectbrown);
	}

	&.til {
		background-color: map-get($colors, tilmagenta);
	}

	&.uses {
		background-color: map-get($colors, aboutmegreen);
	}

	&.tag-title {
		background-color: map-get($colors, tagblue);
	}
}