.reset-list {
    margin:0;
    padding:0;
    list-style: none;
}
  
  
.full-viewport-height {
	min-height: 100vh;
	min-height: -webkit-fill-available;
}


.text-orange {
	color: #F8430A;
}
  
  
@mixin render-as-columns($number-of-columns) {
	column-count: $number-of-columns;
}


.pill {
	display: inline;
	border: 2px solid map-get($colors, projectbrown);
	background-color: map-get($colors, projectbrown);
	padding: 4px;
}


.invisible-on-phone {
	display: none;

	@media screen and (orientation: landscape) and (min-width: 451px) {
		display: block;
	}
}


.background-orange {
	background-color: #F8430A;
}