$title-border-width: 30px;
$default-font-color: map-get($colors, black-800);
$default-link-color: map-get($colors, black-800);
$default-content-width: 75vw;
$default-background-color: map-get($colors, verylightgray);