html { 
    font-size: $default-font-size;
    line-height: $default-line-height; 
    min-height: -webkit-fill-available;
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    color: $default-font-color;
    //font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    line-height: 1.30769231;
}


body {
    color: $default-font-color;
    font-family: $default-font-family;
    //background: #1c1f23;
    background: map-get($colors, blackedblue);
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
    margin: 0;
}


.animated-slide-to-the-right {
    animation: slide-to-the-right 0.8s ease-out forwards;
}

/* Animation */
@keyframes slide-to-the-right {
    100% {
        margin-left: calc(80px + 15vw);
    }
}
 

h1, h2, h3, h4, p {
    margin-bottom: 0.5em;
}


h1 {
    font-size: 7rem;
}


h2 {
    font-size: 6rem;
}


h3 {
    font-size: 5rem;
}


h4 {
    font-size: 4rem;
}


h5 {
    font-size: 2.5rem;
}


p, a {
    font-size: 1.3rem;
}


li {
    font-size: 1.5rem;
}


a {
    text-decoration: underline;
    color: $default-theme-color;
    word-break: break-word;
}


img,
video,
iframe {
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 2/1;
    object-fit: cover;
}


@media screen and (max-width: 1000px) {
    html {
        font-size: 50%;
    }    
}


@media screen and (max-width: 450px) {
    html {
        font-size: 30%;
    }
     
}