* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 12px;
    background-color: var(theme-color);
}


::-webkit-scrollbar-track {
    background-color: #ddd;
}


::-webkit-scrollbar-thumb {
    background-color: var(--theme-color);
}


html { 
    line-height: $default-line-height; 
    min-height: -webkit-fill-available;
    scroll-behavior: smooth;
    font-size: 10px;
}


body {
    color: var(--paragraph);
    font-family: $default-font-family;
    background: var(--background);
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
    margin: 0;
    overflow-x: hidden;
}
 

a {
    text-decoration: underline;
    color: var(--theme-color);
    word-break: break-word;
    font-size: 1.5rem;
}


img,
video,
iframe {
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 2/1;
    object-fit: cover;
}


p {
    font-size: 1.5rem;
}