* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html { 
    line-height: $default-line-height; 
    min-height: -webkit-fill-available;
    scroll-behavior: smooth;
}


body, html {
    color: $default-font-color;
    line-height: 1.30769231;
}


body {
    color: $default-font-color;
    font-family: $default-font-family;
    background: map-get($colors, blackedblue);
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
    margin: 0;
}
 

h1, h2, h3, h4, p {
    margin-bottom: 0.5em;
}


a {
    text-decoration: underline;
    color: $default-theme-color;
    word-break: break-word;
    font-size: 1.3rem;
}


img,
video,
iframe {
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 2/1;
    object-fit: cover;
}

p {
    font-size: 1.3rem;
}