.blog-posts {
    width: 90%;
    margin: auto;
    padding-top: 5rem;
    min-height: 70vh;
}


.blog__title {
    text-align: left;
    padding-left: 30px;
    border-color:map-get($colors, projectbrown);
}


.blog-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}