.balluba {
    background-color: #1c1f23;
    min-width: 15vw;
    position: fixed!important;
    z-index: 5050!important;
    right: 0;
    top: 0;
    bottom: 0;
    padding-left: 48px!important;
    padding-right: 48px!important;
    padding-bottom: 16px!important;
    padding-top: 32px!important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#TableOfContents li {
    border-top-style: solid!important;
    border-top-width: 1px!important;
    border-top-color: #383D41 ;
    margin-bottom: 1rem;
    padding-top: 1rem;
}


#TableOfContents li a {
    font-weight: 700;
}


#TableOfContents li a:hover {
    color: map-get($colors , aboutmegreen );
}


.site-nav {
    margin-top: auto;
    margin-bottom: 2rem;
}


.site-nav__item::before {
    display: none;
}


.site-nav__item {
    padding: 1rem;
    margin-bottom: 1rem;
}


.site-nav__item span {
    display: block;
    font-size: 2rem;
}


.site-nav li a {
    display: block;
    text-decoration: none;
    font-weight: 600;
    font-size: 2rem;
}



.footer-notes-text p, .footer-notes-text a{
    font-size: 1.5rem;
}


@media (max-width: 1999px) {
    .balluba {
        opacity: 0;
        visibility: hidden;
        min-width: auto;
    }
}
