.site-menu-mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--theme-color);
    z-index: 5;
    color: map-get($colors, blackpearl);
    padding: 0.5em;
    min-height: 100px;
    height: auto;
    border-top: 1px solid #000;
}


.site-menu-mobile ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    opacity: 1;
    transition: opacity .3s;
}


.site-menu-mobile li {
    display: flex;
    position: relative;
    flex: 1 1 calc(100%/4);
}


.site-menu-mobile a {
    color: map-get($colors, blackpearl);
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
    text-decoration: none;
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.5rem;
}