.header--site-mobile {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--background);
    z-index: 5;
    color: var(--theme-color);
    padding: 1em;
    min-height: 55px;
    height: auto;
    border-bottom: 1px solid var(--column-border);
    font-size: 1.8rem;
    a{
        text-decoration: none;
    }
    h1 {
        font-size: 1.7rem;
    }

    h1::first-letter {
        text-transform: capitalize;
    }
}


.header--site-mobile span {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    place-items: self-end;
}


.show-title {
    opacity: 1;
}


.hide-title {
    opacity: 0;
}