.aboutme-section {
    margin-top: 2em;
    margin-bottom: 2em;
}


.aboutme-section .container1111{
   display: flex;
   align-items: center;
   justify-content: center;
}


.about-heading {
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 1em;
}


.about-heading h1{
    font-size: 3rem;
    opacity: 0.3;
    margin:0;
    color: $default-theme-color;
}


.about-heading h6{
    font-size: 0.6rem;
    font-weight: 300;
}



.profile-img {  
    img{
        border-radius: 50%;
    }
}


.profile-img img:hover{
    border: 3px solid $default-theme-color;
}


.about-details {
    flex: 1;
}


.social-media {
    margin-top: 5em;

    ul {
        display: flex;
        flex-direction: row;
    }

    i {
        font-size: 1rem
    }

    li{
        margin-right: 0.9em;
    }
}



.fa-github:hover,
.fa-twitter:hover,
.fa-instagram:hover {
    color: $default-theme-color;
}

.about-me-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

