.about-me {
    background: map-get($colors, blackpearl);
}


.about-me--introtext
{
    background: $default-theme-color;
}


.container-content 
{
    margin: 5em;
}


.container-content p{
    color: map-get($colors, blackpearl);
}


.container-content .intro-nav a{
    color: map-get($colors, blackpearl);
    text-decoration: none;
}


.button {
    display: inline-block;
    padding: 0.4em 0.5em;
    border: 2px solid $default-theme-color;
    background-color: transparent;
    font-family: Oswald, sans-serif;
    color: $default-theme-color;
    font-size: 0.7rem;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
}


.button.hero-button {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 12px 36px;
    border: 2px solid $default-theme-color;
    background-color: transparent;
    opacity: 1;
    font-family: Oswald, sans-serif;
    color: $default-theme-color;
    font-size: 0.7rem;
    line-height: 1.7;

    &.inverted {
        border: none;
        border: 2px solid map-get($colors, blackpearl);
        color: map-get($colors, blackpearl);
    }
}


.intro-nav ul {
    display: flex;
    flex-direction: row;
    
}


.intro-nav li {
    margin-right: 4em;
}


.intro-nav li:last-child {
    margin:0;
}


@media screen and (max-width: 700px) {
    
    .container {
        margin: 0 auto;
        max-width: 80vw;
    }
    
    
    .container-content 
    {
        margin: 5em;
    }
    
    
    .about-me--startbutton {
        margin: 5em;
    }
}