.home {
    height: 80vh;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-image:  url(/img/hero-background4.jpg);
    display: grid;
    grid-template-rows: 1fr;
}


.flex-it {
    margin-top: auto;
}


.hero-text {
    line-height: 6rem;
    text-align: left;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2rem;
    text-shadow: 1px 1px 2px #f8430a;
    margin-bottom: 7rem;
    font-size: 6rem;
    margin-left: 0;
}


@media screen and (min-width: 2200px) {
    .hero-text {
        font-size: 6rem;
        line-height: 7rem;
        letter-spacing: 2rem;
        margin-left: 5rem;
    }
}


.hero-animated-pop-in {
    animation: pop-in 0.6s ease-out forwards;
    opacity: 0;
}


.hero h1 {
    animation-delay: 0.8s;
}


/* Animation */
@keyframes fade-slide-down {
    0% {
    }

    100% {
    }
}


@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translateY(-4rem) scale(0.8);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}


@media screen and (max-width: 450px) {
    .hero-text {
        margin-left: 5rem;
    }
}