.topics{
    padding: 5em;
}


.topics, .topics a {
    color: map-get($colors, blackpearl);
}


.topics a {
    text-decoration: none;
}


.topics-list-container {
    display: grid;
    place-items: center;
    height: auto;
}


.topics-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    align-content: space-around;
    justify-content: space-evenly;
}

@media screen and (max-width: 450px) {
    .topics-list {
        width: 100%;
    }
}


.topics-list li {
    margin: 2em;
}


.section-header {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}