.call-to-action {
    font-size: 8rem;
    text-shadow: 1px 1px 2px #00e472;
    text-align: center;
    background: #00e472;
}


.call-to-action-container-content{
    display: grid;
    place-items: center;
    height: 100%;
}


.call-to-action-container-content a {
    text-decoration: none;
    color: #e7e8eb;
} 


.call-to-action-item {
    position: relative;
    transform: scale(.85);
    transition: transform 250ms ease-in-out;
    width: 16rem;
    height: 16rem;;
}


.call-to-action-item:hover,
.call-to-action-item:focus {
    transform: scale(1);
    color: #00e472
}


.call-to-action-item::after {
    content: '';
    position: absolute;
    padding: 100% 100% 0 0;
    border-radius: 50%;
    background: #1c1f23;
    top: -30px;
    left: -4px;
    z-index: -1;
}


@media screen and (max-width: 700px) {
    .call-to-action-item::after {
        content: none;
    }


    .call-to-action-container-content a {
        display: block;
        background-color: #1c1f23;
    } 


    .call-to-action-item {
        display: grid;
        place-content: center;
        width: 11rem;
        height: 11rem;;
    }
}