
.topics-list-container {
    width: 100%;
    grid-column: 1 / -1 !important;
    overflow: auto;
}

.topics-list {
    flex-direction: row;
    align-items: stretch;
    display: flex;
    gap: 1.5em;
    margin-left: 0.9em!important;
    /* margin-bottom: 0.5em!important; */
    /* margin-top: 1.5em; */
    scroll-snap-type: x mandatory;
    scroll-padding: 1rem;
    position: relative;
    

    li {
        margin-bottom: 0 !important;
        flex-grow: 1;
        scroll-snap-align: start;
    }

    a{
        border: 2px solid $default-theme-color;
        display: block;
        padding: 0.2em 1em;
        word-break: normal;
        border-radius: 20px;
        text-decoration: none;
    }
}