.container {
    margin: 0 auto;
    max-width: 90vw;
}

.timeline {
    padding-left: 10em;

    ul{
        border-left: 4px solid $default-theme-color;
        background-color: rgba(0,0,0,.05);
        margin: 0 auto;
        position: relative;
        padding: 0.5em;
        text-align: left;
        width: 60%;
    }

    h1{
        font-size: 0.7rem;
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 1em;
        opacity: 0.3;
    }

    .date{
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        margin-bottom: 0.5em;
        padding-bottom: 0.5em;
        position: relative;
    }

    .date:last-of-type {
        padding-bottom: 0;
        margin-bottom: 0;
        border: none
    }
}


.experience {
    margin-bottom: 2em;
}


.timeline .date::before,
.timeline .date::after {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}


.timeline .date::before {
    content: attr(data-date);
    left: -8rem;
    text-align: right;
    min-width: 1rem;
    font-size: 1rem;
}


.timeline .date::after {
    content: '';
    box-shadow: 0 0 0 4px $default-theme-color;
    border-radius: 100%;
    left: -12rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #313534;
}