.about-me {
    background: map-get($colors, blackpearl);
}


.about-me--introtext
{
    background: var(--theme-color);
}


.container-content 
{
    margin: 5em;
}


.container-content p{
    color: map-get($colors, blackpearl);
}


.container-content .intro-nav a{
    color: map-get($colors, blackpearl);
    text-decoration: none;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.button {
    display: inline-block;
    padding: 0.8em 0.9em;
    border: 2px solid var(--theme-color);
    background-color: transparent;
    font-family: Oswald, sans-serif;
    color: var(--theme-color);
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
}


.intro-nav ul {
    display: flex;
    flex-direction: row;
    
}


.intro-nav li {
    margin-right: 4em;
}


.intro-nav li:last-child {
    margin:0;
}


@media screen and (max-width: 700px) {
    
    .container {
        margin: 0 auto;
        max-width: 80vw;
    }
    
    
    .container-content 
    {
        margin: 5em;
    }
    
    
    .about-me--startbutton {
        margin: 5em;
    }
}