.featured-section {
    min-height: 30vh;
    padding-top: 10em;
    display: grid;
    place-content: center;
}


.featured-items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3em;
    padding-left: 15px;
    padding-right: 15px;
}

.featured-type-title{
    text-align: center;
    font-size: 2.5rem;
    color: var(--headline)
}



@media (min-width: $small-screen-end) {
    .featured-items {        
        grid-template-columns: repeat(3, 1fr);
    }
}