.navigation-icons .fa {
    margin: 25px 23px;
    display: block;
    color: map-get($colors, blackpearl);
    font-size: 30px;
}


.vertical-panel {
    background-color: map-get($colors, blackpearl);
    padding-left: 48px!important;
    padding-right: 48px!important;
    padding-bottom: 16px!important;
    padding-top: 32px!important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed!important;
    width: 27vh;
}


.site-menu li {
    border-top-style: solid!important;
    border-top-width: 1px!important;
    border-top-color: #383D41 ;
    margin-bottom: 1em;
    padding-top: 1em;
}


.site-menu li a {
    font-weight: 700;
    color: #e7e8eb;
    text-decoration: none;
}


.site-menu li a:hover {
    color:  $default-theme-color;
}


.animated-slide-in-from-left {
    animation: slide-in-from-left 0.8s ease-out forwards;
    display: block;
    left: -350px;
}


/* Animation */
@keyframes slide-in-from-left {
    100% {
        left: 80px;
    }
}


.site-menu-open-link {
    cursor: pointer;
}
