.page-header {
    width: clamp(42ch, 50%, 75ch); 
    margin-right: auto;
    margin-left: auto;
    font-size: clamp(0.9rem, 4vw, 1.9rem);  
    margin-top: 1.5em;
    
    h1 {
        line-height: 1.1;
        text-align: left;
        word-wrap: break-word;
    }
}


.page-header__publication-details {
    font-size: 0.9rem !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.page-header__publication-details > * {
    margin-right: 1em;
}


.page-header__publication-details a {
    font-size: 0.9rem;
    color: #e7e8eb;
}


.page-header__publication-details,
.page-header__meta {
    margin-bottom: 1.5em;
}


.page-header__tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.page-header__tags > *{
    margin-right: 1em;
    margin-bottom: 1em;
}


.page-header__publication-details {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}


.page-header__title {
    -webkit-animation-delay:.8s;
        animation-delay:.8s;
    // text-transform: lowercase;
}


.page-header__subtitle {
    -webkit-animation-delay: 1s;
        animation-delay: 1s;
}


.page-header__meta {
    -webkit-animation-delay: 1.1s;
        animation-delay: 1.1s;
}


.page-header__featuretext {
    -webkit-animation-delay: 1.3s;
            animation-delay: 1.3s;
}


.shareMeBtn {
    cursor: pointer;
}


.shareMeBtn:hover {
    color: $default-theme-color;
}
