.page-header__publication-details {
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}



.page-header__publication-details a {
    font-size: 1.3rem;
    color: #e7e8eb;
}

.page-header__publication-details  i{
    color: $default-theme-color;
}


.page-header__publication-details {
    margin-bottom: 1.5em;
}
