.page-main-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(337px,1fr));
    grid-auto-rows: 1fr;
    height: auto;
    gap:4rem;
    margin-left: 4rem;
    margin-right: 4rem;
}


.read-next-card h1 a {
    font-size: inherit;
    color: #e7e8eb;
}