.page-main-list {
    margin: 1em;
    

    ul{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(22rem,1fr));
        gap: 2rem 1.5rem;

        p {
            margin-bottom: 0em;
            
        }
    }
}


.read-next-card h1 a {
    font-size: inherit;
    color: #e7e8eb;
}