.page-main {
    margin: 20rem 5rem;
}

.page-main-content > section {
    margin-bottom: 9em;
}

.page-main-content h1 {
    font-size: 400%;
    border-top: 1px solid rgba(248, 67, 10, 0.4);
    margin-left: 0;
    padding-top: 1em;
}



.page-main__content {
    width: clamp(45ch, 50%, 75ch); 
    margin-right: auto;
    margin-left: auto;
    font-size: clamp(1.5rem, 5vw, 3rem);  
}
