.page-main {
    margin: 20rem 5rem;
}


.page-main__content {
    min-height: 50vh;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: minmax(2em,1fr)minmax(auto,100vw)minmax(2em,1fr);
    // grid-template-rows: 2em auto 2em;
    grid-gap: 0;
}

.page-main__content > * {
    grid-column: 2;
    grid-row: 1;
}

@media screen and (max-width: 450px) {
    .page-main  {
        margin-right: 0;
        margin-left: 0;
    }
}