.page-header {
    width: clamp(45ch, 50%, 75ch); 
    margin-right: auto;
    margin-left: auto;
    font-size: clamp(1.5rem, 5vw, 3rem);  
    margin-top: 4rem; 
}


.page-header h1 {
    line-height: 1.1;
    text-align: left;
    word-wrap: break-word;
}




.page-header__publication-details {
    font-size: 1.5rem !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.page-header__publication-details > * {
    margin-right: 1.5rem;
}


.page-header__publication-details a {
    font-size: 1.5rem;
    color: #e7e8eb;
}


.page-header__publication-details,
.page-header__meta {
    margin-bottom: 4em;
}


.page-header__tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.page-header__tags > *{
    margin-right: 1em;
    margin-bottom: 1em;
}


.animate-pop-in {
    -webkit-animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
            animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
    opacity: 0;
}
  

.page-header__publication-details {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}


.page-header__title {
    -webkit-animation-delay:.8s;
        animation-delay:.8s;
    text-transform: lowercase;
}


.page-header__title::first-letter {
    text-transform: uppercase;
}


.page-header__subtitle {
    -webkit-animation-delay: 1s;
        animation-delay: 1s;
}


.page-header__meta {
    -webkit-animation-delay: 1.1s;
        animation-delay: 1.1s;
}


.page-header__featuretext {
    -webkit-animation-delay: 1.3s;
            animation-delay: 1.3s;
}


.header-down-arrow {
    -webkit-animation: pulse 2s 3s ease-out infinite;
            animation: pulse 2s 3s ease-out infinite;
        bottom: 8vh;
        left: 0;
    position: absolute;
        right: 0;
    text-align: center;
    z-index: 10;
    grid-column-start: 1;
    font-size: 1.5rem;
}


.header-down-arrow a{
    -webkit-animation: fade-slide-up 1s 1s ease-out forwards;
            animation: fade-slide-up 1s 1s ease-out forwards;
    opacity: 0;
  }


@keyframes pop-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-4rem);
                transform: translateY(-4rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
                transform: none;
    }
}


@keyframes fade-slide-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(4rem);
                transform: translateY(4rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
                transform: none;
    }
}


@keyframes pulse {
    0% {
        opacity: 1;
        -webkit-transform: none;
                transform: none;
    }
    50% {
        opacity: .8;
        -webkit-transform: scale(.8);
                transform: scale(.8);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
                transform: none;
    }
}


.shareMeBtn {
    cursor: pointer;
}


.shareMeBtn:hover {
    color: #f8430a;
}
