.table-of-content--container 
{
    height: 100vh;
    margin-top: 10em;
}


.table-of-content {
    border-left: 4px solid #00e472;
    padding-left: 1em
}

.table-of-content--container h1 {
    font-size: 3rem;
}


#TableOfContents ul {
    margin:0;
    padding:0;
    list-style: none;
    position:sticky;
}

#TableOfContents li {
    border-top-style: solid!important;
    border-top-width: 1px!important;
    border-top-color: #383D41 ;
    margin-bottom: 1em;
    padding-top: 1em;
    margin-right: 1em;
}


#TableOfContents li a {
    font-weight: 400;
    color: white;
    text-decoration: none;
    font-size: 50%;
}


#TableOfContents li a:hover {
    color: #00e472;
}