.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: var(--background);
    overflow: hidden;
    padding-top: 3em;
    padding-bottom: 3em;
    transition-duration: 0.5s;
    border-left: 2px solid black;
    font-size: 16px;
    * {
        padding: 0 3em;
    }
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}


.sidenav a:hover {
    //color: #f1f1f1;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
    