.item {
    //width: clamp(23ch, 60%, 46ch);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: #1f1e1e;
    min-height: 100%;
}


.item__link {
    text-decoration: inherit;
  color: inherit;
}


.visual {
    height: auto;
    width: 100%;
}


.item__title {
    color: #fff;
    text-decoration: none;
    font-size: 3.5rem
}


.item:hover {
    background-color: #262525;
}
