.item {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background: #1f1e1e;
    min-height: 100%;
    border-radius: 3%;
}


.item__link {
    text-decoration: inherit;
    color: inherit;
}


.visual {
    height: auto;
    width: 100%;
    margin-bottom:1em;

    img {
        margin-left: auto;
        margin-right: auto;
        border-radius: 1%;
    }
}


.item__title {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    margin: 0 0 1em 0;
    min-height: 5rem;
}


.item:hover {
    background-color: #262525;
}
