.topics-list-container {
    width: 100%;
    overflow-x: auto;
}

.topics-list {
    flex-direction: row;
    align-items: stretch;
    display: flex;
    gap: 1.5em;
    scroll-snap-type: x mandatory;
    scroll-padding: 1rem;
    position: relative;
    text-align: center;

    li:first-child {
        background-color: var(--theme-color);
        a{
            color: var(--tag-color);
        }
    }
    

    li {
        margin-bottom: 0 !important;
        flex-grow: 1;
        scroll-snap-align: start;
    }

    a{
        //border: 2px solid var(--theme-color);
        display: block;
        padding: 0.2em 1em;
        word-break: normal;
        //border-radius: 20px;
        text-decoration: none;
    }

    a::first-letter {
        text-transform: capitalize;
    }
}