.topics-section {
    background-color: var(--button-border);
    padding-top: 2em;
    padding-bottom: 2em;
    display: grid;
    place-content: center;
    display: none;

    ul {
        display: flex;
        flex-wrap: wrap;        
        justify-content: center;

        a {
            width: auto;
            margin: 1em;
            display: block;
            padding: 1em;
            text-align: center;
            text-transform: capitalize;
            border: 2px dashed var(--tag-stroke);

            &:hover {
                border: 2px solid var(--tag-stroke);
            }
        }
    }

    a {
        color: var(--tag-color);
        text-decoration: none;

    }
}

.all-tags-link {
    a {
        width: auto;
        margin: 1em;
        display: block;
        padding: 1em;
        text-align: center;
        text-transform: capitalize;
        background: #181818;
        color: var(--tag-color);

        &:hover {
            border: 2px solid var(--tag-stroke);
        }
    }
}


@media screen and (min-width: $small-screen-end) {
    .topics-section {
        display: block;
    }
}