.theme-switcher {
    position:fixed;
    top: 50vh;
    left: 0;
    height: 150px;
    width: 100%;
    z-index: 100;
    background-color: #181818;
    padding: 3em;
    border-top: 2px solid #393939;
    border-bottom: 2px solid #393939;

    h4 {
        font-size: 2rem;
    }

    .theme-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 170px;

        span {
            display: inline-block;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            //border: 1px solid red;

            
        }

        .theme-1 {
            background-color: map-get($colors, theme-red);
        }
        
        .theme-2 {
            background-color: map-get($colors, theme-orange);
        }
        
        .theme-3 {
            background-color: map-get($colors, theme-green);
        }
        
        .theme-4 {
            background-color: map-get($colors, theme-pink);
        }
        
    }
}

