/*$break-medium:  800px;
$break-large: 1000px;
$break-huge: 1200px;*/

.footer__site {
    margin-top: 5em;
    padding: 4em 0;
    /*color: #333333;*/
    /*background: #fafafa;*/

    /*@media screen and (min-width: $break-medium) {
    }

    @media screen and (min-width: $break-large) {
    }

    @media screen and (min-width: $break-huge) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }*/
}

.footer__more {
    grid-column: 2 / 12;
    display: grid;
    grid-template-columns: 1fr;
}

.footer__notes {
    grid-column: 2 / 12;
    text-align: center;
    padding: 4em 0;
    font-size: .8em;
}

.footer__links {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 1em 0; 
}

.footer__links li {
      font-size: .9em;
      display: inline-block;
      vertical-align: middle;
      margin-right: 2em;
      padding: 1em 0; 
}

.footer__links li::before 
{
        display: none; }
      .footer__links li a {
        display: block;
        width: 100%;
        border-bottom: 1px solid;
        text-decoration: none;
        background: none; }
        .footer__links li a:hover, .footer__links li a:active {
          background: none; }
    @media all and (min-width: 640px) {
      .footer__links {
        padding: 0 2em; } }