.header__site {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}


.header__site .header__logo {
    grid-column: 2 / 3;
    width: 40px;
    height: 1em;
    overflow: visible;
    line-height: 1;
}


.move-down-arrow {
    grid-column: 6/7;
    grid-row: 4/4;
    padding: 2em 0;
    line-height: 1.1em;
    text-align: center;
    font-size: 200%;
}