.card__item {
    color: map-get($colors, offwhite);
    padding: 5px;
    text-align: left;
    margin: 1em 0;
    font-size: .9em;
}


.i-am-a:hover {
    border-top: 3px solid;
    margin-top: calc(1em - 3px);

    &.projects {
        border-color: map-get($colors, projectblue);
    }

    &.til {
        border-color: map-get($colors, tilmagenta);
    }

    &.tag {
        border-color: map-get($colors, tagyellow);
    }
}


.card__title {
    display: block;
    font-weight: 600;
    font-size: 1.5em;
    background: none;
    border: none;
    margin-top: 2px;
    color: map-get($colors, offwhite);
}


.card__meta,
.card__feature-text  {
    font-size: .6em; 
    line-height: 1em;
}