.card__item {
    color: map-get($colors, offwhite);
    padding: 5px;
    text-align: left;
    margin: 1em 0;
    font-size: .9em;
}

.card__item:hover {
    border-top: 3px solid map-get($colors, mymagenta);
    margin-top: calc(1em - 3px);
}


.card__title {
    display: block;
    font-weight: 600;
    font-size: 1.5em;
    background: none;
    border: none;
    margin-top: 2px;
    color: map-get($colors, offwhite);
}


.card__meta,
.card__feature-text  {
    font-size: .6em; 
    line-height: 1em;
}