.footer-nav {
    margin: 2em 0;
    padding: 0; 
}

.footer-nav__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 3em 5em; }
    @media all and (min-width: 1500px) {
    .footer-nav ul {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); } }
.footer-nav__item::before {
    display: none; }
.footer-nav__item a {
    display: block;
    text-decoration: none;
    background: none;
    font-family: "Fira Sans", arial, sans-serif;
    font-weight: 900;
    font-size: 1.75em; }
.footer-nav__item span {
    font-family: "Fira Sans", arial, sans-serif;
    display: block;
    font-size: .9em;
    color: #777;
    line-height: 1.5; }