.footer-nav {
  margin: 2em 0;
  padding: 0;
}


.footer-nav__item::before {
  display: none;
}


.footer-nav__item {
  padding: .3em;
  margin-bottom: 2em;
}


.footer-nav__item a {
  display: block;
  text-decoration: none;
  background: none;
  font-weight: 900;
  font-size: 1.75em;
}


.footer-nav__item span {
  display: block;
  font-size: .9em;
  line-height: 1.5;
}

.footer-nav__item:nth-child(1) {
    background-color: map-get($colors, projectblue);
}

.footer-nav__item:nth-child(2) {
    background-color: map-get($colors, tilmagenta);
}

.footer-nav__item:nth-child(3) {
    background-color: map-get($colors, aboutmegreen);
}

.footer-nav__item:nth-child(4) {
    background-color: map-get($colors, orange);
}

.footer-nav__item:nth-child(5) {
  background-color: map-get($colors, blackcurrent);
}
