<section class="list-of-content">
    {{ if eq .Type "projects" }}
        <section class="page-main__latest-articles">
            {{ $pages := where $.Site.RegularPages  "Type" "in" "projects"}}
            <div class="content-list-header">
                <h1>Andre prosjekter</h1>
                <div class="circle">
                    {{ len (where .Site.RegularPages "Section" "==" "projects") }}    
                </div> 
            </div>
            <div class="page-main-list">
                <ul class="reset-list">
                    {{ range $pages }}
                        {{ .Render "summary"}}
                    {{ end }}
                </ul>    
            </div>
        </section>
    {{ end }}

    {{ if eq .Type "writings" }}
        <section class="page-main__latest-articles">
            {{ $pages := where $.Site.RegularPages "Type" "in" "writings" }}
            <div class="content-list-header">
                <h1>Nyeste poster</h1>
                <div class="circle">
                    {{ len (where .Site.RegularPages "Section" "==" "writings") }}
                </div>
            </div>
            <div class="page-main-list">
                <ul class="reset-list">
                    {{ range $pages }}
                        {{ .Render "summary"}}
                    {{ end }}
                </ul>
            </div>
        </section>
    {{ end }}

    {{ if eq .Type "bookmarks" }}
        <section class="page-main__latest-articles">
            {{ $pages := where $.Site.RegularPages "Type" "in" "bookmarks" }}
            <div class="content-list-header">
                <h1>Bokmerker</h1>
                <div class="circle">
                    {{ len (where .Site.RegularPages "Section" "==" "bookmarks") }}
                </div>
            </div>
            
            <div class="page-main-list">
                <ul class="reset-list">
                    {{ range $pages }}
                        {{ .Render "summary"}}
                    {{ end }}
                </ul>
            </div>
        </section>
    {{ end }}

    {{ if eq .Type "tags" }}
        <section class="page-main__latest-articles">
            <h1>Tilgjengelige filter</h1>
            <div class="page-main-list1">
                <ul class="reset-list">
                    {{ range .Site.Taxonomies.tags }}
                    <li>
                        <a class="item__link" href='{{ .Page.Permalink }}'>
                            <article class="item">
                                <div class="visual">

                                </div>
                                <div class="item__body">
                                    <h2 class="item__title" style="text-transform: capitalize;">
                                        {{ .Page.Title }}
                                    </h2>

                                </div>
                            </article>
                        </a>
                    </li>
                    {{ end }}
                </ul>    
            </div>
        </section>
    {{ end }}
</section>