<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ .Site.Title }} - {{ .Title }}</title>

{{ partial "styles.html" . }}

<meta name="description" content="{{ $.Site.Params.description }}">
<meta property="og:title" content="{{ .Site.Title }} - {{ .Title }}">
<meta property="og:description" content="{{ $.Site.Params.description }}">
<meta property="og:image" content="image.jpg">
<meta property="og:locale" content="nb-no">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ $.Site.BaseURL }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="theme-color" content="#00e472">
<link rel="icon" href="{{ $.Site.BaseURL }}{{ $.Site.Params.favicon }}">
<link rel="apple-touch-icon" href="{{ $.Site.BaseURL }}apple-touch-icon.png">

<link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://www.smylingsas.net/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://www.smylingsas.net/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.smylingsas.net/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://www.smylingsas.net/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://www.smylingsas.net/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://www.smylingsas.net/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://www.smylingsas.net/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://www.smylingsas.net/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="https://www.smylingsas.net/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="https://www.smylingsas.net/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="https://www.smylingsas.net/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="https://www.smylingsas.net/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="https://www.smylingsas.net/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="Smylingsas.net "/>
<meta name="msapplication-TileColor" content="#00e472" />
<meta name="msapplication-TileImage" content="https://www.smylingsas.net/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="https://www.smylingsas.net/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="https://www.smylingsas.net/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="https://www.smylingsas.net/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="https://www.smylingsas.net/mstile-310x310.png" />

<link rel="manifest" href="{{ $.Site.BaseURL }}manifest.json">

<meta name="keywords" content="{{ $.Site.Params.keywords }}" />
{{hugo.Generator}}
<link rel="author" href="humans.txt" />
<meta name="robots" content="index, follow">
<meta name="googlebot" content="index, follow, noarchive">
<meta name="twitter:dnt" content="on">
