<div class="aside">   
    <div class="logo">
        <a href="/">
            <img style="aspect-ratio:unset" title="Smylingsas.net. Gå til forsiden" src="logo.png" alt="Big S on dark red background">
        </a>
    </div>
    
    <nav class="site-menu">
        <div class="site-menu-item">
            <h2>Navigasjon</h2>
            {{- partial "main-menu.html" . -}}
        </div>
        
        <div class="site-menu-item">
            <h2>Kontakt</h2>
            {{ $links := .Site.Params.sociallinks }}
            {{ with $links }}
                {{ with index . "developer"}}
                    {{ template "social-links"  . }}
                {{ end }}
            {{ end }}
        </div>
        
        <div class="site-menu-item">
            <h2>Diverse</h2>
            <ul class="reset-list">
                <li>
                    <a href="/sitemap.xml" target="_blank">Sitemap</a>
                </li>
                <li>
                    <a href="/humans.txt" target="_blank">Humans.txt</a>
                </li>
                <li>
                    <a href="/archives/">Arkiv</a>
                </li>
                <li>
                    <a href="/tags/">Tags</a>
                </li>
            </ul>
        </div>
    </nav>
</div>