<div class="aside">
    <div class="logo">
        <a href="/">
            <div class="logo-mini">S</div>
            <div class="logo-full">Smylingsås</div>
        </a>
    </div>
    
    <nav class="site-menu">
        <div class="site-menu-item">
            <h2>Navigasjon</h2>
            {{- partial "main-menu.html" . -}}
        </div>
        
        <div class="site-menu-item">
            <h2>Sosiale medier</h2>
            {{ $links := .Site.Params.sociallinks }}
            {{ with $links }}
                {{ with index . "developer"}}
                    {{ template "social-links"  . }}
                {{ end }}
            {{ end }}
        </div>
        
        <div class="site-menu-item">
            <h2>Diverse</h2>
            <ul class="reset-list">
                <li>
                    <a href="/sitemap.xml" target="_blank">Sitemap</a>
                </li>
                <li>
                    <a href="/humans.txt" target="_blank">Humans.txt</a>
                </li>
            </ul>
        </div>
    </nav>
</div>