<div class="vertical-bar invisible-on-phone">
    <div class="navigation-icons">
        <a href="/" aria-label="Navigate to home page" title="Gå til startsiden">
            <i class="fa fa-home"></i>
        </a>
        <a class="site-menu-open-link"
            title="Vis meny"
            onclick="openSiteMenu()">
            <i class="fa fa-th-list"></i></a>
        
        {{ if eq .Kind "page" }}
            {{if .PrevInSection}}
                <a class="page-main__previous-link" 
                    title={{.PrevInSection.Title}} 
                    href={{.PrevInSection.Permalink | relURL }}>
                    <i class="fa fa-chevron-left"></i></a>
            {{end}}
            {{if .NextInSection}}
                <a class="page-main__next-link" 
                    title={{.NextInSection.Title}} 
                    href={{.NextInSection.Permalink | relURL }}>
                    <i class="fa fa-chevron-right"></i></a>
            {{end}}
        {{end}}
        
        
    </div>
    <div class="social-icons">

        <a href="https://twitter.com/olehsm" rel="noreferrer" title="Gå til min Twitter profil" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>

        <a href="https://github.com/olehsm" rel="noreferrer" title="Gå til min Github profil" target="_blank">
            <i class="fa fa-github"></i> 
        </a>

        <a href="https://www.instagram.com/habbheim/" rel="noreferrer" title="Gå til Instagram profil" target="_blank">
            <i class="fa fa-instagram"></i>
        </a>

    </div>
</div>

<div id="vertical-panel-id" class="vertical-panel invisible-on-phone">
    {{ partial "main-menu.html" . }}
</div>