<ul class="reset-list">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
            <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                <a href="#">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                </a>
            </li>
            <ul class="sub-menu">
                {{ range .Children }}
                    <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                        <a href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                {{ end }}
            </ul>
        {{ else }}
            <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                <a href="{{ .URL }}">
                    {{ .Pre }}
                    {{ .Name }}
                </a>
            </li>
        {{ end }}
    {{ end }}
    <li class="extra-mobile-menu-item">
        <a href="/additional-mobilemenu/">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" color="#000000" fill="none">
                <path d="M4 5L20 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M4 12L20 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M4 19L20 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            Mobilmeny
        </a>
    </li>
</ul>
