{{ with .Params.tags }}
    {{ $primaryTag := (index . 0) }}
    {{ $relatedTagPosts := (where (index $.Site.Taxonomies.tags $primaryTag).Pages "Section" "writings") }}
    <section class="page-main__read-next-card">
        <h1>Flere innlegg i <a href="{{ "/tags/" | relLangURL }}{{ $primaryTag | urlize }}">#{{ $primaryTag }}</a></h1>
        <div class="page-main-list">
            <ul class="reset-list">
                {{ range first 3 $relatedTagPosts }}
                    {{ .Render "summary"}}
                {{ end }}
            </ul>
        </div>
    </section>
{{ end }}