<nav class="site-menu-mobile">
    <ul class="reset-list">
        <li class="site-menu-mobile__item">
            <a href="/" title="Smylingsas.net">
                <i class="fas fa-home"></i>            
                <span>Hjem</span>
            </a>
        </li>
        <li class="site-menu-mobile__item">
            <a href="/projects/" title="Smylingsas.net">
                <i class="fas fa-project-diagram"></i>
                <span>Prosjekter</span>
            </a>    
        </li>
        <li class="site-menu-mobile__item">
            <a href="/til/" title="Smylingsas.net">
                <i class="fas fa-calendar-week"></i>
                <span>TIL</span>
            </a>
        </li>
        <!-- <li class="site-menu-mobile__item">
            <a href="/tags/" title="Smylingsas.net">
                <i class="fas fa-list"></i>
                <span>Topics</span>
            </a>           
        </li> -->
    </ul>
</nav>