<header class="header--site-mobile">
    {{ if eq .Kind "home"}}
    <img src="img/logo.png"
        alt="Big S on orange background" width="30" height="30"/>
    {{ else if ne .Kind "section" "taxonomy" "home" }}
        <a title="Tilbake til {{.Type}}" href="/{{.Type}}">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
        {{.Title}}
    {{ else if ne .Kind "home" }}
        {{.Title}}
        {{$pageTitle := .Title}}
        {{$body := "Sjekk ut denne artikkelen"}}
        {{$pageUrl := "/"}}
        {{ $pageTitle}}
        <button class="sharebutton" type="button" title="Del artikkel" onclick="share( {{ $pageTitle}}, {{$body }}, {{$pageUrl}} )"><i class="fa fa-share-square-o" aria-hidden="true"></i></button>
    {{ end}}
</header>