<!doctype html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    {{ partial "left-menu.html" . }}
    <main class="main">
        <div class="not-found__message">
            <h1>Page not found</h1>
            <p>Sorry, but the page you were trying to view does not exist.</p>
        </div>
    </main>
    {{ partial "site-menu-mobile.html" . }}

    {{ partial "homepage/topics.html" . }}

    <footer class="footer__site">
        {{ partial "footer.html" . }}
    </footer>

    <script>
        // Register the Service Worker
        if('serviceWorker' in navigator) {
            navigator.serviceWorker.register("{{ $.Site.BaseURL }}service-worker.js")
        }

        function openSiteMenu() {
            var body = document.body;
            body.classList.add("animated-slide-to-the-right");

            var siteMenu = document.getElementById("vertical-panel-id");
            siteMenu.classList.add("animated-slide-in-from-left");
        }
    </script>
    
</body>
</html>
<!-- IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->
