{{ define "main" }}
    <div class="hero-img"></div>
    <div class="homepage">
        <section class="jumbotron">
            {{ partial "homepage/hero.html" . }}
        </section>  
        {{/*  <section class="homepage-aboutme-section">  
            {{ partial "homepage/aboutme.html" . }}
        </section>  */}}
        <section class="homepage-experience">
            {{ partial "homepage/experience.html"}}
        </section>
        <section class="homepage-post-section">
            {{ partial "homepage/til.html" . }}
        </section>
        <section class="homepage-projects-section">
            {{ partial "homepage/projects.html" . }}
        </section>     
    </div>

{{ end }}