{{ define "main" }}
    <header class="header__page homepage__header">
        <h1 class="homepage__title border-top aboutme">Hello. My name is Ole Halvor Smylingsås and I'm a fullstack developer.</h1>
        <div class="homepage__tag-cloud">
            {{ $taxo := "tags" }}
            Navigate by tags:
            <ul class="render-as-columns reset-list {{ $taxo }}">
                {{ with ($.Site.GetPage (printf "/%s" $taxo)) }}
                    {{ range .Pages }}
                        <li><a href="{{ .Permalink }}">#{{ .Title}}</a></li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
    </header>
    
    <main class="main homepage__main">

        <section class="latest-articles homepage__cardlist">
            {{ $pages := where $.Site.RegularPages "Type" "in" "til" }}
            <h3 class="latest-articles__title">Latest published items in <a href="/til/">TIL.</a> Search by <a style="text-decoration: underline" href="/tags/">tags</a></h3>
                <ul class="l-articles">
                    {{ range first 8 $pages }}
                        {{ partial "cards/frontpageArticleCard.html" . }}
                    {{ end }}
                </ul>

        </section>
        
        <section class="latest-articles homepage__cardlist">
            {{ $pages := where $.Site.RegularPages "Type" "in" "projects" }}
            <h3 class="latest-articles__title">Updates from <a href="/projects/">projects.</a> Search by <a style="text-decoration: underline" href="/tags/">tags</a></h3>
                <ul class="l-articles">
                    {{ range first 8 $pages }}
                        {{ partial "cards/frontpageArticleCard.html" . }}
                    {{ end }}
                </ul>
        </section>   
    </main>
{{ end }}


        