.about-me {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(auto, $default-content-width) minmax(1em, 1fr);
    grid-template-rows: auto 1fr;
    grid-gap: 0;
    margin-bottom: 15vh;
}


.about-me__title {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: left;
    padding-left: 30px;
    border-left: $title-border-width solid;
    border-color:map-get($colors, aboutmegreen);;
}


.about-me__text {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}