.about-me {
    
    margin: 0 auto;
    padding-top: 5rem;
    min-height: 40vh;
    background: #f8430a;
}


.about-me__title {
    // grid-row-start: 1;
    // grid-column-start: 2;
    // grid-column-end: 2;
    // text-align: left;
    // padding-left: 30px;
    // border-left: $title-border-width solid;
    // border-color:map-get($colors, aboutmegreen);;
}


.about-me__text {
    // grid-row-start: 2;
    // grid-column-start: 2;
    // grid-column-end: 2;
}


.container {
    margin: 0 auto;
    max-width: 80vh;
}