html { 
    font-size: calc(1em + 1vw); 
}


@media screen and (min-width: 50em) {
    html {
      font-size: 2vw;
    }
}


body {
    color: map-get($colors, offwhite);
    font-family: $font-family;
    background: map-get($colors, dark-sea-blue);
    margin:0;
}
 

h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 1em;
}


a {
    text-decoration: none;
    color: $default-font-color;
}

