html { 
    //font-size: calc(1em + 1vw);
    font-size: 62.5%;
    line-height: 1.15; 
    height: -webkit-fill-available;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    color: map-get($colors, black-800);
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    line-height: 1.30769231;
}


body {
    color: $default-font-color;
    font-family: 'Noto Sans', sans-serif;
    background: #0f0f17;
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
}

// @media screen and (min-width: 2000px) {
//     body {
//         margin-right: 15vw;
//     }
// }
 

h1, h2, h3, h4, p {
    margin-bottom: 3rem;
}


h1 {
    font-size: 7rem;
}


h2 {
    font-size: 6rem;
}


h3 {
    font-size: 5rem;
}


h4 {
    font-size: 4rem;
}


h5 {
    font-size: 2.5rem;
}


p, a {
    font-size: 2.5rem;
}


li {
    font-size: 2.5rem;
}




a {
    text-decoration: none;
    color: $default-link-color;
}


// a:hover {
//     text
// }

@media screen and (max-width: 450px) {
    html {
        font-size: 30%;
    }
     
}


