@media screen and (max-width: 450px) {
    .site-menu-mobile {
        position: fixed;
        bottom: 0em;
        width: 100vw;
        background-color: #F8430A;
        z-index: 5;
        color: map-get($colors, offwhite);
        padding: 0.5em;
        font-size: 0.8em;
        height: 40px;
        display: grid;
        place-items: center;
    }


    .site-menu-mobile ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }


    .site-menu-mobile li {
        text-align: center;
        margin-right: 30px;
    }
}


@media screen and (min-width: 451px) {
    .site-menu-mobile {
        display: none;
    }
}
