.blog-item {
    margin-bottom: 15vh;
}


.blog-item__tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.blog-item__tags > *{
    margin-right: 1em;
}


.blog-item__tags {
    margin-bottom: 1em;
}


.blog-item__content {
    margin-bottom: 1em;
}


.blog-item__description .pill:hover {
	border: 2px solid map-get($colors, offwhite);
	background-color: map-get($colors, dark-sea-blue);
	color: map-get($colors, offwhite);
}


.blog-item__description .pill:hover a {
	color: map-get($colors, offwhite);
}