.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.hero h1 {
    line-height: 1.2;
    font-size: calc(5rem + 1.5vw);
    padding-left: 30px;
    text-align: left;
    border-left: 45px solid;
    border-color:green;
   
}