.hero {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(3em, 1fr) minmax(auto, 80vw) minmax(3em, 1fr);
    grid-template-rows: minmax(3em, 1fr) minmax(auto, 80vw) minmax(3em, 1fr);
}


.hero h1 {
    line-height: 1.1;
    font-size: calc(6rem + 0.5vw);
    padding-left: 30px;
    text-align: left;
    border-left: 45px solid;
    border-color:map-get($colors, aboutmegreen);
    grid-column: 2;
    grid-row: 2;
    margin: 0;
}