.topics{
    padding: 5vh;
}


.topics, .topics a {
    color: #1c1f23
}


// .topics a:hover {
//     border: 1px solid #e7e8eb
// }

.topics-list-container {
    display: grid;
    place-items: center;
    height: auto;
}


.topics-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    align-content: space-around;
    justify-content: space-evenly;
}

@media screen and (max-width: 450px) {
    .topics-list {
        width: 100%;
    }
}


.topics-list li {
    margin: 2rem;
}


.section-header {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}