.til-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    //gap: 1rem;
}

.project-items {
    // display: grid;
    // grid-template-row: repeat(4, 1fr);
    // //gap: 1rem;
}

.til-test {
    grid-row: 1 / span 2;
    background-color: #f8430a;
    grid-column: 1;
}

.project-test {
    grid-row: 1 / span 2;
    background-color: #f8430a;
    grid-column: 3 / span 2;
}

// .project-items > .item:first-child {
//     grid-row: span 2;
//     height: auto;
// }
