.til-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    //gap: 1rem;
}

.project-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    //gap: 1rem;
}

.til-test {
    grid-row: 1 / span 2;
    background-color: #f8430a;
    grid-column: 1;
}

.project-test {
    grid-row: 1 / span 2;
    background-color: #f8430a;
    grid-column: 3 / span 2;
}

// .project-items > .item:first-child {
//     grid-row: span 2;
//     height: auto;
// }


.item {
    height: calc(100vh / 3);
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.item:first-child {
    background-color:  #f8430a;
}


.item:first-child .button{
    border: 2px solid white;
    color: white;
}


.item:nth-child(5) {
    background-color:  #f8430a;
}


.item:hover {
    background-color:  #f8430a;
}


.item:hover .button {
    border: 2px solid white;
    color: white;
}


.til-item a:hover {
    text-decoration: underline;
}