.vertical-bar {
    height: 100%;
    background-color: #F8430A;
    position: fixed!important;
    z-index: 5050!important;
    left: 0;
    top: 0;
    bottom: 0;
}

.navigation-icons {
    height: 80vh;
    width:80px;
}

.navigation-icons .fa {
    margin: 45px 23px;
    display: block;
    color: #fff;
    font-size: 30px;
}

.social-icons {
    height: 20vh;
    width: 80px;
    background-color: #1c1f23;
    bottom: 0;
    position: absolute;
    text-align: center;
    padding-top: 27%;

}

.social-icons .fa {
    margin: 15px 23px;
    display: block;
    color: #fff;
    padding: 8px;
    border: 1px solid #F8430A;
    border-radius: 50%
}



.vertical-panel {
    height: 100%;
    background-color: #1c1f23;
    position: fixed!important;
    z-index: 5040!important;
    left: -380px;
    top: 0;
    bottom: 0;
    min-width: 15vw;
    padding-left: 48px!important;
    padding-right: 48px!important;
    padding-bottom: 16px!important;
    padding-top: 32px!important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //opacity: 1;
    display: block;
}


.site-menu li {
    border-top-style: solid!important;
    border-top-width: 1px!important;
    border-top-color: #383D41 ;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.site-menu li a {
    font-weight: 700;
}


.site-menu li a:hover {
    color:  #F8430A;
}

.animated-slide-in-from-left {
    animation: slide-in-from-left 0.8s ease-out forwards;
    //opacity: 0;
    display: block;
    left: -350px;
}

/* Animation */
@keyframes slide-in-from-left {
    0% {
        //opacity: 0;
        //transform: translateX(-4rem) scale(0.8);
        //left: -350px
    }

    100% {
        //opacity: 1;
        left: 80px;
    }
}
