.page-main {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(auto, $default-content-width) minmax(1em, 1fr);
    grid-template-rows: 2em auto;
    grid-gap: 0;
    min-height: 100vh;
}


.page-main > * {
    grid-column-start: 2;
}


.page-main-content {
    grid-row-start: 2;
    margin-bottom: 3em;
}