.page-header {
    display: grid;
    grid-template-columns: minmax(2em, 1fr) minmax(auto, 80vw) minmax(2em, 1fr);
    grid-template-rows: 2em auto 2em;
    grid-gap: 0;
    height: 100vh;
}


.page-header h1 {
    line-height: 1.1;
    padding-left: 30px;
    text-align: left;
    word-wrap: break-word;
}

.page-header > * {
    grid-column-start: 2;
}


.page-header-content {
    grid-row-start: 2;
}


.page-header__publication-details,
.page-header__meta {
    margin-bottom: 4em;
}

.page-header__tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.page-header__tags > *{
    margin-right: 1em;
    margin-bottom: 1em;
}


.page-header__move-down-arrow {
    text-align: center;
    display: block;
    grid-row-start: 2;
    align-self: end
}