.page-main {
    // padding-top: 10vh;
    // //display: grid;
    // // grid-template-columns: minmax(5rem, 1fr) minmax(auto, $default-content-width) minmax(5rem, 1fr);
    // //grid-template-columns: minmax(5rem, 1fr) minmax(auto, $default-content-width) minmax(5rem, 1fr);
    // //align-items: center;

    // width: 90%;
    // margin: auto;
    // display: flex;
    // min-height: 100vh;

    

}


.page-main > * {
    // grid-column-start: 2;
}


.page-main-content {
    // grid-row-start: 2;
    //margin-bottom: 3rem;
}

.page-main-list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(35vh,1fr));
    grid-auto-rows: 1fr;
    //gap: 0.25rem;
    height: auto;
}