.header__site {
    // width: 80%;
    // margin: auto;
    // min-height: 10vh;
    // //padding: 3rem 0rem;
}


@media screen and (max-width: 450px) {
    .header__logo {
        display: none;
    }
}
  

@media screen and (min-width: 451px) {
    .header__logo {
        position: fixed;
        left: 1em;
        z-index: 5;
    }
}