.til-posts {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(auto, $default-content-width) minmax(1em, 1fr);
    grid-template-rows: auto 1fr;
    grid-gap: 0;
    margin-bottom: 5vh;
}


.til-title {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: left;
    padding-left: 30px;
    border-left: $title-border-width solid;
    border-color:magenta;
}


.til-items {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    max-width: 35em;
}


.til-item {
    margin-bottom: 3vh;
}


.til-item a:hover {
    text-decoration: underline;
}