.til-posts {
    width: 90%;
    margin: auto;
    padding-top: 5rem;
    min-height: 70vh;
}


.til-title {
    text-align: left;
    padding-left: 30px;
    border-left: $title-border-width solid;
    border-color:magenta;
}


.til-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}


.til-item {
    margin-bottom: 3vh;
// border-bottom: 1px solid #383d41;
// min-height: 25vh;
display: flex;
flex-direction: column;
flex: 1;
margin-right: 3em;
min-width: 40%;
}


.til-item a:hover {
    text-decoration: underline;
}