{{ define "main" }}

    {{ partial "page-header.html" . }}
    
    <main class="main list__main">
        
        {{ $sections := (.Site.GetPage "section" .Section).Sections }}

        {{ if ( gt ( len .Pages ) 0 ) }}

        <section class="homepage__cardlist">
            <ul class="l-articles">
                {{ range .Pages }}
                    {{ partial "cards/frontpageArticleCard.html" . }}
                {{ end }}
            </ul>
        </section>
           
        {{ else }}

        <section class="homepage__cardlist">
            <ul class="l-articles">
                {{ range $sections }}
                    {{ partial "cards/frontpageArticleCard.html" . }} 
                {{ end }}
            </ul>
        </section>

        {{ end }}

    </main>
{{ end }}
