{{ define "main" }}

    {{ partial "page-header.html" . }}
    
    <main class="main list__main">
        
        {{ $sections := (.Site.GetPage "section" .Section).Sections }}

        {{ if ( gt ( len .Pages ) 0 ) }}

            <ul class="l-articles">
                {{ range .Pages }}
                    {{ partial "cards/projectCard.html" . }}
                {{ end }}
            </ul>

        {{ else }}

        <ul class="list__projects">
            {{ range $sections }}
                {{ partial "cards/projectCard.html" . }} 
            {{ end }}
        </ul>

        {{ end }}

    </main>
{{ end }}
