{{ define "main" }}
    {{ partial "page-header.html" . }}  

    <main class="main article__main">
        <article class="article__blog-post">

            <section class="article__content">
                {{.Content}}
            </section>
                    
            <section class="latest-articles homepage__cardlist">
                {{ $pages := where $.Site.RegularPages "Type" "in" "projects,til" }}
                <h3 class="latest-articles__title">Latest posts</h3>
                    <ul class="l-articles">
                        {{ range first 3 $pages }}
                            {{ partial "cards/frontpageArticleCard.html" . }}
                        {{ end }}
                    </ul>
    
            </section>
        
            {{ if .Params.comments }}
                <div class="article__comments" id="comments">
                    {{- partial "comments.html" . -}}
                </div>
            {{ end }}
        </article>
    </main>
{{ end }}

