<section class="section aboutme-section" id="aboutme-section">
    <div class="container1111">
        {{/*  <div class="profile-img">
            <img src="img/olehals_LThumb.jpg" alt="profile-img" />
        </div>  */}}
        <div class="about-details">
            <div class="about-heading">
                <h1>Om</h1>
                <h6>meg</h6>
            </div>
            <p>
                ....
            </p>
            <div class="social-media">
                <ul class="reset-list">
                    <li>
                        <a href="https://twitter.com/olehsm" rel="noreferrer" title="Gå til min Twitter profil" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/olehsm" rel="noreferrer" title="Gå til min Twitter Github profil" target="_blank">
                            <i class="fa fa-github"></i> 
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/habbheim/" rel="noreferrer" title="Gå til min Twitter Instagram profil" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</section>
