<div class="call-to-action-container1 call-to-action">
        <div class="call-to-action-container-content">
            <a href="#projects-section" title="Se noen av mine prosjekter">
                <div class="call-to-action-item">
                    <i class="fas fa-project-diagram"></i>
                    <p>Prosjekter</p>
                </div>
            </a>
        </div>
</div>

<div class="call-to-action-container2 call-to-action">
    <div class="call-to-action-container-content">
        <a href="#til-section" title="Nyeste poster">
            <div class="call-to-action-item">
                <i class="fas fa-calendar-week"></i>
                <p>Nyeste poster</p>
            </div>
        </a>
    </div>
</div>

<div class="call-to-action-container3 call-to-action">
    <div class="call-to-action-container-content">
        <a href="#topics-section" title="Se alle topics">
            <div class="call-to-action-item">
                <i class="fas fa-list"></i>
                <p>Topics</p>
            </div>
        </a>   
    </div>
</div>