<section class="section call-to-action" id="call-to-action-section">
    <div class="cell0">
            <div class="container-content-meh">
                <a href="#projects-section" title="Se noen av mine prosjekter">
                    <div class="call-to-action-item flex-it">
                    <i class="fas fa-project-diagram"></i>
                    <span>Prosjekter</span>
                </div>
                </a>
            </div>
    </div>

    <div class="cell1">
        <div class="container-content-meh">
            <a href="#til-section" title="Nyeste poster">
                <div class="call-to-action-item flex-it">
                <i class="fas fa-calendar-week"></i>
                <span>Nyeste poster</span>
                </div>
            </a>
        </div>
    </div>

    <div class="cell2">
        <div class="container-content-meh">
            <a href="#topics-section" title="Se alle topics">
                <div class="call-to-action-item flex-it">
                <i class="fas fa-list"></i>
                <span>Topics</span>
                </div>
            </a>   
        </div>
    </div>
</section>