<section class="experience" id="experience-section">
    <div class="page-wrapper">
        <h1>Arbeidserfaring</h1>
        <div class="timeline">
            <ul class="reset-list">
                <li class="date" data-date="2017-present">
                    <h1>Kongsberg IT</h1>
                    <p>Utvikler</p>
                </li>
                <li class="date" data-date="2015-2017">
                    <h1>Kongsberg</h1>
                    <p>Utvikler</p>
                </li>
                <li class="date" data-date="2010-2014">
                    <h1>Itum</h1>
                    <p>Utvikler</p>
                </li>
                <li class="date" data-date="2009">
                    <h1>Kongsberg</h1>
                    <p>Utvikler</p>
                </li>
            </ul>
        </div>
    </div>
</section>