<section class="hero">
    <div class="hero-info">
        <h1 class="hero-text">Hei. Jeg er Ole Halvor. Full-stack utvikler</h1>

        <p class="subhead">Jeg jobber med  Angular JS, React, Node JS, Webpack, .Net Framework, Windows Server, Material UI, MS SQL, Jenkins og Octopus.</p>
        
        <div class="button-group">
            <a class="button" href="/writings">Les bloggen</a>
            <a class="button" href="/projects">Se projektene</a>
        </div>
    </div>
    <div class="profile-img-container">
        <div class="profile-img">
            <img src="img/olehals_LThumb.jpg" alt="profile-img" width="225" height="300"/>
        </div>
    </div>
    
</section>