<section class="home">
    <div>
        <h1 class="hero-animated-pop-in hero-text text-orange">
            Hei.<br /> Jeg er<br /> Ole Halvor.<br /><br />Utvikler.
        </h1>
        <a class="button" style="color: #1c1f23; border: 2px solid #1c1f23; background: #00e472; border-radius:50px" href="#til-section">Les bloggen</a>
        <a class="button" style="border-radius:50px" href="#projects-section">Se projektene</a>
    </div>
    <a class="button" title="Lær mer om Ole" style="border-radius:50px" href="#aboutme-section"><i class="fas fa-hand-point-down"></i></a>
</section>