<section class="hero">
    <div class="hero-info">
        <h1 class="hero-text">Hei. Jeg er Ole Halvor. Full-stack utvikler</h1>

        <p class="subhead">Jeg jobber med  Angular JS, React, Node JS, Webpack, .Net Framework, Windows Server, Material UI, MS SQL, Jenkins og Octopus.</p>
    
        
        <div class="button-group">
            <a class="button" href="#til-section">Les bloggen</a>
            <a class="button" href="#projects-section">Se projektene</a>
        </div>

        {{/*  <svg class="down-arrow" viewBox="0 0 16 132" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.29289 131.707C7.68341 132.098 8.31658 132.098 8.7071 131.707L15.0711 125.343C15.4616 124.953 15.4616 124.319 15.0711 123.929C14.6805 123.538 14.0474 123.538 13.6568 123.929L7.99999 129.586L2.34314 123.929C1.95262 123.538 1.31945 123.538 0.928927 123.929C0.538402 124.319 0.538402 124.953 0.928927 125.343L7.29289 131.707ZM7 -4.37114e-08L6.99999 131L8.99999 131L9 4.37114e-08L7 -4.37114e-08Z" fill="black"/>
        </svg>  */}}
    </div>
    <div class="profile-img-container">
        <div class="profile-img">
            <img src="img/olehals_LThumb.jpg" alt="profile-img" />
        </div>
    </div>
    
    
    
</section>