<section class="about-me" id="aboutme-section">
    <div class="container1">
        <div class="container-content">
            <p>I work with Angular JS, React, Node JS, Webpack, .Net Framework and MS SQL.</p>
            <nav class="intro-nav">
                <ul class="reset-list">
                    <li><a href="#aboutme-section">About</a></li>
                    <li><a href="#experience-section">Experience</a></li>
                    <li><a href="#">Skills</a></li>
                    <li><a href="#">Uses</a></li>
                </ul>
            </nav>
        </div>     
    </div>

    <div class="container3">
        <div class="container-content-meh">
            <a href="#call-to-action-section" 
                class="button hero-button">Let’s start</a>
        </div> 
    </div>
    
</section>