<div class="about-me--introtext">
    <div class="container-content-meh">
        <div>
            <a class="button hero-button" style="color: #00e472; border: 2px solid #1c1f23; background: #1c1f23" href="#">Les bloggen</a>
        <a class="button hero-button inverted" href="#">Se projektene</a>
        </div>
        
        {{/*  <nav class="intro-nav">
            <ul class="reset-list">
                <li><a href="#aboutme-section">Om meg</a></li>
                <li><a href="#experience-section">Erfaring</a></li>
                <!-- <li><a href="#">Skills</a></li> -->
                <li><a href="#">Utstyr</a></li>
            </ul>
        </nav>  */}}
    </div>     
</div>

<div class="about-me--startbutton">
    <div class="container-content-meh">
        <a href="#call-to-action-section" 
            class="button hero-button">Om Ole Halvor</a>
    </div> 
</div>