<section class="about-me" id="aboutme-section">
    <div class="container1">
        <div class="container-content">
            <p>Jeg jobber med  Angular JS, React, Node JS, Webpack, .Net Framework, Windows Server, Material UI and MS SQL.</p>
            <nav class="intro-nav">
                <ul class="reset-list">
                    <li><a href="#aboutme-section">Om meg</a></li>
                    <li><a href="#experience-section">Erfaring</a></li>
                    <!-- <li><a href="#">Skills</a></li> -->
                    <li><a href="#">Utstyr</a></li>
                </ul>
            </nav>
        </div>     
    </div>

    <div class="container3">
        <div class="container-content-meh">
            <a href="#call-to-action-section" 
                class="button hero-button">Kom igjen!</a>
        </div> 
    </div>
    
</section>